Hello #{@contact.full_name},

= "The match now requires final approval from #{Translation.translate('CoC Thirteen')} staff to complete."
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
