= simple_form_for @match_contacts, url: access_context.match_contacts_path(@match), html: { class: 'current-step-form jContactForm' }, remote: ajax_modal_request? || request.xhr? do |form|
  = render 'contact_manager/contact_field', contact_type: :shelter_agency_contacts, input_name: 'match_contacts[shelter_agency_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  -# = render 'contact_manager/contact_field', contact_type: :client_contacts, input_name: 'match_contacts[client_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  = render 'contact_manager/contact_field', contact_type: :dnd_staff_contacts, input_name: 'match_contacts[dnd_staff_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  = render 'contact_manager/contact_field', contact_type: :housing_subsidy_admin_contacts, input_name: 'match_contacts[housing_subsidy_admin_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  = render 'contact_manager/contact_field', contact_type: :ssp_contacts, input_name: 'match_contacts[ssp_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  = render 'contact_manager/contact_field', contact_type: :hsp_contacts, input_name: 'match_contacts[hsp_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  = render 'contact_manager/contact_field', contact_type: :do_contacts, input_name: 'match_contacts[do_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, current_contact: @current_contact

  .form-actions.clearfix
    = form.button :submit, value: "Save", class: 'btn btn-success jContactSubmit'
