- contact_ids_with_active_users = Contact.active_contacts.pluck(:id)
%ul.jMatchContactList.c-detail-group__content.list-unstyled
  - match.contact_titles.each do |contact_type, title|
    - next unless match.match_route.visible_contact_types.include?(contact_type.to_sym)

    %li.c-detail-group__item
      -# Force some translations
      - Translation.translate('Housing Subsidy Administrators')
      - Translation.translate('Stabilization Service Providers')
      - Translation.translate('Housing Search Providers')
      .c-detail-group__title--secondary= Translation.translate(title)
      .detail-box--value 
        - contact_type_column = contact_type.to_s.sub('_contacts','').to_sym #TODO: This feels too hacky
        - all_contacts = match.client_opportunity_match_contacts.where(ClientOpportunityMatchContact.arel_table[contact_type_column.to_sym].eq(true)).index_by(&:contact_id)
        - match.send(contact_type).order(:contact_order).each do |contact|
          - join_contact = all_contacts[contact.id]
          - data = {}
          - data = {toggle: :tooltip, title: 'No associated active user, will not receive emails.'} unless contact_ids_with_active_users.include?(contact.id)
          .contact.mb-2
            = contact.name
            %br
            .ml-2
              .d-flex
                .email= mail_to contact.email, nil, target: '_blank'
                - unless contact_ids_with_active_users.include?(contact.id)
                  .ml-2{data: data}
                    %i.icon-warning
              - phone = contact.phone_for_display
              - if phone.present? && phone.strip.length > 1
                = phone
                %br
              Primary Contact: 
              - if join_contact.contact_order == 1
                %i.icon-checkbox-checked.ml-2{ data: { toggle: :tooltip, title: 'Primary Contact' }}
              - else
                - if current_contact&.user_can_edit_match_contacts?
                  = link_to reorder_match_contacts_path(@match, join_contact: join_contact), method: :post do 
                    %i.icon-checkbox-unchecked.ml-2{ data: { toggle: :tooltip, title: 'Set Primary Contact' }}
        - if !match.send(contact_type).any?
          %p.c-detail-group__no-result No contacts
