= content_for :modal_title do
  Edit Contacts for Match

- if @match_contacts.errors.any?
  .errors
    = @match_contacts.errors.full_messages.join ","

= render "form"
= render 'init_select2'

= content_for :page_js do
  :javascript
    $('body').off('change', '.jContactField');
    $('body').on('change', '.jContactField', function(e){
      var $input = $(this);
      var val = $input.val();
      var contact_type = $input.data('contact-type');
      var input_name = $input.data('input-name');
      var html = '<input type="hidden" name="' + input_name + '" value="' + val + '" />'
      $input.after(html);

      $input.closest('form').trigger('submit');
    });
    $('body').off('click', '.jContactDelete');
    $('body').on('click', '.jContactDelete', function(e){
      e.preventDefault();
      $('.jContactHidden[value=' + $(this).data('contact-id') + '][name="' + $(this).data('input-name') + '"]').remove();
      $(this).closest('form').trigger('submit');
    });
    $('body').off('click', '.jContactSubmit');
    $('body').on('click', '.jContactSubmit', function(e) {
      e.preventDefault();
      $(this).closest('form').trigger('submit');
      $('.modal:visible .close').trigger('click');
    });
