-# Partial: used polymorphically for building and unit attributes
-#   Arguments:
-#     housingable: currently a building or unit object
-#     attribute: a HousingAttribute object

= content_for :modal_title do
  Edit Attribute

= simple_form_for @attribute, url:  polymorphic_path([@housingable, @attribute]) do |f|
  = f.input :name, disabled: true
  = f.input :value, collection: @attribute.existing_values, as: :select_2, input_html: {data: { tags: true }}, include_blank: true, hint: 'If you don\'t see the value required, type it in and select it'

  = f.button :submit
