-# Partial: used polymorphically for building and unit attributes
-#   Arguments:
-#     housingable: currently a building or unit object
-#     attribute: a HousingAttribute object

= content_for :modal_title do
  Add Attribute

= simple_form_for @attribute, url:  polymorphic_path([@housingable, :housing_attributes]) do |f|
  = f.input :name, collection: @attribute.existing_attributes, as: :select_2, input_html: { class: :jType, data: { tags: true }}, include_blank: true, hint: 'If you don\'t see the type required, type it in and select it', placeholder: 'Please chooose'
  = f.input :value, collection: [], as: :select_2, input_html: { class: :jValue, data: { tags: true, 'collection-path' => polymorphic_path([:values, @housingable, :housing_attributes]) } }, include_blank: true, hint: 'If you don\'t see the value required, type it in and select it', placeholder: 'Please chooose'

  = f.button :submit

= render 'init_select2'
= content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('.jType').on('change', function(e) {
        var attribute_name = $(this).val();
        var input = $('.jValue');
        [path, query] = input.data('collection-path').split('?');
        input.data('collection-path', path + "?attribute_name=" + attribute_name);
        App.remoteSelectLoad.init();
      });
    });
