- action_text ||= ''

%section
  .row
    .col-md-12
      - name = @non_hmis_client.client_identifier || "#{@non_hmis_client.first_name} #{@non_hmis_client.last_name}"
      - client_path = polymorphic_path(@non_hmis_client)
      - if @assessment.persisted?
        - assessment_path = polymorphic_path([@non_hmis_client, :non_hmis_assessment], id: @assessment.id)
      - else
        - assessment_path = polymorphic_path([@non_hmis_client, :non_hmis_assessments])
      .d-flex.align-items-center.mb-6
        .div
          %h1.mr-4.mb-0 #{action_text} Assessment for Client #{name}
          = render 'non_hmis_assessments/timestamp'
        .ml-auto
          = link_to 'Back To Client', client_path, class: 'btn btn-secondary mr-2 mb-2'
          - if disabled && @assessment.editable_by?(current_user)
            = link_to 'Edit', edit_polymorphic_path([@non_hmis_client, :non_hmis_assessment], id: @assessment.id), class: 'btn btn-primary mb-2'
  .row
    .col-md-10
      = simple_form_for @assessment, url: assessment_path, defaults: {disabled: disabled} do |f|
        .o-questions
          = render "#{@non_hmis_client.type.tableize}/#{@assessment.model_name.element}", client_form: f, assessment_form: f, disabled: disabled

        .form__actions.align-items-center
          = render 'non_hmis_assessments/timestamp'
          .ml-auto.d-flex
            - if action_text.present?
              = link_to 'Cancel', assessment_path, class: 'btn btn-secondary ml-auto'
              = f.button :submit, "#{action_text} Assessment", class: 'btn btn-primary ml-2'
            - if @non_hmis_client.current_assessment == @assessment
              - if @non_hmis_client.identified
                - if can_manage_identified_clients?
                  = link_to 'Delete', assessment_path, method: :delete, class: 'btn btn-danger ml-2'
              - else
                - if can_manage_deidentified_clients?
                  = link_to 'Delete', assessment_path, method: :delete, class: 'btn btn-danger ml-2', data: {confirm: 'Are you sure you want to delete this assessment?'}

= render 'non_hmis_clients/assessments/covid_js'
= render 'init_select2'
