.row
  .col-md-6
    = simple_form_for @assessment, url: '' do |f|
      - # view is versioned, so choose view based on model type
      = render "#{client_type}_clients/#{@assessment.model_name.element}", form: f, disabled: false

      = f.button :submit, "Update Assessment", class: 'btn btn-primary'
