- default_assessment = @non_hmis_client.assessment_type.constantize.new.default?
%section
  .c-card.c-card--flush
    .c-card__content.p-0
      .o-pre-table-actions.o-pre-table-actions--light
        %h2.o-pre-table-actions__heading Assessments
        - if @non_hmis_client.editable_by?(current_user)
          .o-pre-table-actions__group.ml-auto
            - new_assessment_url = new_polymorphic_path([@non_hmis_client, :non_hmis_assessment])
            = link_to new_assessment_url, class: 'btn btn-sm btn-secondary' do
              %span.icon-plus
              Add New Assessment
      - if @assessments.any?
        %table.table
          %thead
            %tr
              %th Date Taken
              - if @non_hmis_client.can_see_assessment_score?(current_user)
                %th Score
              %th Agency
          %tbody
            - @assessments.each do |assessment|
              - # If we can edit this client, show all assessments
              - if @non_hmis_client.editable_by?(current_user)
                - if assessment.editable_by?(current_user)
                  - url = edit_polymorphic_path([@non_hmis_client, :non_hmis_assessment], id: assessment)
                - else
                  - url = polymorphic_path([@non_hmis_client, :non_hmis_assessment], id: assessment)
                %tr{data: {href: url}}
                  %td= link_to_if assessment.viewable_by?(current_user), assessment.updated_at, url
                  - if @non_hmis_client.can_see_assessment_score?(current_user)
                    %td
                      - if assessment&.unscored?
                        Unscored
                      - elsif assessment&.assessment_score&.zero?
                        0 – Ineligible
                      - else
                        = assessment.assessment_score
                  %td= assessment.agency&.name
                - # If we can't, just show COVID Pathways assessments because those are
                - # the only assessments that provide sanitized read-only views
              - else
                - next unless assessment.type.in?(NonHmisAssessment.limited_assessment_types)
                - url = if assessment.type.include?('Deidentified') then current_assessment_limited_deidentified_client_path(assessment.id) else current_assessment_limited_identified_client_path(assessment.id) end
                %tr
                  %td= link_to assessment.updated_at, url
                  %td
                    - if assessment&.unscored?
                      Unscored
                    - elsif assessment&.assessment_score&.zero?
                      0 – Ineligible
                    - else
                      = assessment.assessment_score
                  %td= assessment.agency&.name
      - else
        .p-4
          %p.o-text--italic Client currently has no assessments
          - if @non_hmis_client.editable_by?(current_user)
            = link_to new_assessment_url, class: 'btn btn-sm btn-secondary' do
              %span.icon-plus
              Add New Assessment
