%a#assessments-dropdown.btn.btn-sm.btn-secondary.dropdown-toggle{aria: {expanded:  'false', haspopup:  'true'}, data: {toggle:  'dropdown'}, href:  '#', role:  'button'}
  #{@assessment.created_at} by #{@assessment.user&.name}
.dropdown-menu{"aria-labelledby" => "assessments-dropdown"}
  - @non_hmis_client.non_hmis_assessments.each do |assessment|
    .dropdown-item
      = link_to "#{assessment.created_at} by #{assessment.user&.name}", deidentified_client_path(@non_hmis_client, {assessment_id: assessment})