.row
  .col-md-6
    = form.input :client_identifier, required: true, disabled: disabled
- if can_edit_all_clients?
  .jAgency
    = form.association :agency, input_html: {class: :select2}, disabled: disabled
= form.input :contact_id, collection: @contacts, as: :grouped_select, group_method: :last, selected: @contact_id, include_blank: 'None', label: "Default #{_('Shelter Agency')} Contact", input_html: {class: 'select2 jContact' }, disabled: disabled
- if can_add_cohorts_to_deidentified_clients? && Warehouse::Base.enabled?
  = form.input :active_cohort_ids, collection: Warehouse::Cohort.active, input_html: { multiple: true, class: 'select2' }, label: "Cohorts", disabled: disabled

= form.input :full_release_on_file, as: :pretty_boolean, label: 'Full HAN Rlease on File', disabled: disabled

= form.input :set_asides_housing_status, collection: ['Active', 'Inactive', 'Inelible'], label: "Status", disabled: disabled
-# = form.input :available, as: :pretty_boolean, label: 'Available for matching?', disabled: disabled
