= render 'client', form: f, disabled: false
%hr
= form.input :assessment_score, disabled: disabled
= form.input :days_homeless_in_the_last_three_years, label: '3D. Days homeless in last 3 years', disabled: disabled
= form.input :family_member, label: '5A. Did the participant list any household members under 18 in the household composition chart?', input_html: {class: 'jFamily'}, disabled: disabled
= form.input :pending_subsidized_housing_placement, label: '5C. Are you about to move into a housing unit, such as a unit with a Section 8 voucher, or an offer of a public housing unit where your rent will be calculated at about 30-40% of your income?', disabled: disabled
= form.input :domestic_violence, label: '2B. Are you currently fleeing or attempting to flee a domestic violence situation? (examples: sexual assault, stalking, domestic violence)', disabled: disabled
= form.input :veteran, label: '5B. Did you serve in active military, naval or air service (regardless of length of service) and have a discharge status of anything other than Dishonorable? NOTE: This DOES include Veterans who only had service time in basic training. This DOES NOT include Veterans who were National Guard and Reserves', disabled: disabled
= form.input :ssvf_eligible, collection: { 'Yes' => true, 'No' => false, 'N/A' => nil }, label: '5F. Based on your agency\'s past records and/or SSVF eligibility screen, is the Veteran eligible for SSVF (If you are not SSVF Staff then click N/A)?', input_html: { class: :select2 }, disabled: disabled
= form.input :veteran_rrh_desired, label: '5G. Veteran Choice: We have Veteran-specific rapid re-housing programs in our community that provide housing search for a unit where the lease is between you and the landlord: financial assistance to pay the upfront sots of the unit; and case management to help sustain your new home. They may have quicker openings. Is there any reason why you cannot work with a Veteran-specific rapid re-housing program?', disabled: disabled
= form.input :rrh_desired, label: '9A. Would you like to be considered for RRH when they have openings?', disabled: disabled
= form.input :rrh_th_desired, label: '9F. Shelter Need While Doing Housing Search (RRH-TH): Openings are very limited and rare, but some of the rapid re-housing programs are able to offer a stable shelter option to use while you search for housing. Would you be interested in a shelter option if one was available? You may deny the shelter option if you are no longer interested at the time of rapid re-housing referral.', disabled: disabled
- youth_label = 'Youth-Specific Only: youth specific programs are with agencies who have a focus on young populations; they may be able to offer drop-in spaces for youth, as well as community-building and connections with other youth'
- adult_label = 'Adult Programs Only: Adult programs serve youth who are 18-24, but may not have built in community space or activities to connect other youth. They can help you find those opportunities. The adult RRH programs typically have more frequent openings at this time.'
- both_label = 'Both Adult and Youth-Specific programs'
= form.input :youth_rrh_aggregate, collection: { youth_label => 'youth', adult_label => 'adult', both_label => 'both', 'None' => '' }, as: :radio_buttons, label: '9C. Youth Choice (for Heads of Household who are 24 years of age and younger): Would you like to be considered for housing programs that are:', disabled: disabled
-  dv_label = 'Domestic Violence (DV) - Specific Only: these are agencies who have a focus on populations experiencing violence; they may be able to offer specialized services for survivors in-house, such as support groups, clinical services and legal services.'
- non_dv_label = 'Non-DV Programs Only: these are agencies that serve people fleeing violence, but may need to link you to outside, specialized agencies for specific services such as DV support groups, clinical services and legal services. The non-DV RRH programs typically have more frequent openings at this time.'
- both_dv_label = "Both DV and Non-DV Programs"
= form.input :dv_rrh_aggregate, collection: { dv_label => 'dv', non_dv_label => 'non-dv', both_dv_label => 'both' }, label: '9D. Survivor Choice (for those currently fleeing domestic violence): you indicated you are currently experiencing a form of violence. Would you like to be considered for housing programs that are:', input_html: { class: :select2 }, disabled: disabled
= form.input :interested_in_set_asides, label: '6I. Confirm that the Client answered yes to all 4 and is interested in signing up for Homeless Set Aside Units', disabled: disabled
= form.input :income_total_annual, label: '6A. Net income', disabled: disabled
= form.input :sro_ok, label: '6B. If you are a single adult, would you consider living in a single room occupancy (SRO)?', disabled: disabled
= form.input :required_number_of_bedrooms, collection: (2..5), include_blank: 'None', label: '6C. If you need a bedroom size larger than a SRO, studio or 1 bedroom, select the size below', input_html: { class: :select2 }, disabled: disabled
%p.control-label
  6D. Are you seeking any of the following due to a disability? If yes, you may have to provide documentation of disability - related need
= form.input :requires_wheelchair_accessibility, label: 'Wheelchair accessible unit', disabled: disabled
= form.input :requires_elevator_access, label: 'First floor/elevator (little to no stairs to your unit)', disabled: disabled
= form.input :other_accessibility, label: 'Other accessibility', disabled: disabled
= form.input :disabled_housing, label: '6G. Are you interested in applying for housing units targeted for persons with disabilities? (The definition of disability, as well as eligibility or preference criteria, may vary depending on the housing. You may have to provide documentation of a disability to qualify for these housing units.)', disabled: disabled
= form.input :neighborhood_interests, collection: @neighborhoods, label_method: :last, value_method: :first, input_html: { multiple: true, class: :select2 }, label: '6H. Check off all the Boston neighborhoods you are willing to live in. Another way to decide is to figure out which places you will not live in, and check off the rest. You are not penalized if you change your mind about where you want to live.', disabled: disabled
