.row
  .col-sm-9
    - if Config.get(:non_hmis_fields).include?('assessment_score')
      = assessment_form.input :assessment_score, disabled: disabled
    - if Config.get(:non_hmis_fields).include?('vispdat_score')
      = assessment_form.input :vispdat_score, disabled: disabled
    - if Config.get(:non_hmis_fields).include?('vispdat_priority_score')
      = assessment_form.input :vispdat_priority_score, disabled: disabled
    - if Config.get(:non_hmis_fields).include?('health_prioritized')
      = assessment_form.input :health_prioritized, disabled: disabled
    - if Config.get(:non_hmis_fields).include?('hiv_aids')
      = assessment_form.input :hiv_aids, label: 'HOPWA eligible', disabled: disabled
    - if Config.get(:non_hmis_fields).include?('actively_homeless')
      = assessment_form.input :actively_homeless, hint: 'Checking this box will allow the client to match rules that require homeless activity in the past 30 or 90 days.', disabled: disabled
    = assessment_form.input :veteran, disabled: disabled
    = assessment_form.input :domestic_violence, label: 'Domestic violence survivor', disabled: disabled
    = assessment_form.input :days_homeless_in_the_last_three_years, disabled: disabled
    = assessment_form.input :date_days_homeless_verified, as: :date_picker, label: 'Date of Assessment', disabled: disabled
    = assessment_form.input :who_verified_days_homeless, disabled: disabled
    = assessment_form.input :family_member, label: _('Part of a family'), input_html: {class: 'jFamily'}, disabled: disabled
    .jChronicallyHomeless
      = assessment_form.input :calculated_chronic_homelessness, as: :boolean, label: _('Chronically homeless family'), disabled: disabled
    = assessment_form.input :rrh_desired, label: 'Interested in RRH', disabled: disabled
    = assessment_form.input :youth_rrh_desired, label: 'Only interested in Youth RRH', disabled: disabled
    = assessment_form.input :income_total_monthly, label: 'Total monthly income', disabled: disabled
    = assessment_form.input :income_maximization_assistance_requested, disabled: disabled
    = assessment_form.input :pending_subsidized_housing_placement, disabled: disabled
    = assessment_form.input :rrh_assessment_contact_info, label: 'Case Manager Contact Information', hint: 'Do not include any personal information about the client in this box', disabled: disabled
    = assessment_form.input :required_number_of_bedrooms, collection: (1..5), include_blank: false, input_html: { class: :select2 }, disabled: disabled
    = assessment_form.input :required_minimum_occupancy, collection: (1..10), include_blank: false, input_html: { class: :select2 }, disabled: disabled
    = assessment_form.input :interested_in_set_asides, input_html: {class: 'jInterestedInSetAsides'}, disabled: disabled
    .jNeighborhoodInterests
      = assessment_form.input :neighborhood_interests, collection: @neighborhoods, label_method: :last, value_method: :first, input_html: { multiple: true, class: [:select2, 'select2--full-width'] }, disabled: disabled
    = assessment_form.input :is_currently_youth, disabled: disabled, label: 'Age between 18 and 24', hint: 'Please note, this will not automatically update if the client ages out of the range.'
    = assessment_form.input :older_than_65, disabled: disabled, label: 'Age greater than 65'
    = assessment_form.input :disabling_condition, disabled: disabled
    = assessment_form.input :physical_disability, disabled: disabled
    = assessment_form.input :developmental_disability, disabled: disabled
    = assessment_form.input :requires_wheelchair_accessibility, label: _('Requires wheelchair accessible unit'), disabled: disabled
    = assessment_form.input :requires_elevator_access, label: _('Requires ground floor unit or elevator access'), disabled: disabled

    = render 'deidentified_clients/js'
