.row.table-utilities
  .col-sm-4
    %p= page_entries_info @non_hmis_clients
  .col-sm-8
    %p.client__current-sort-filter
      Currently sorted by:
      %strong= @sorted_by
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Client Identifier
          %th Agency
          %th Assessment Score
          %th Cohorts
          %th Days Homeless in the Last 3 Years
          %th Available?
          - if can_manage_deidentified_clients?
            %th
          - if current_user.can_view_some_clients?
            %th CAS Client

        %tbody
          - @non_hmis_clients.each do |deidentified_client|
            %tr
              %td
                = link_to({action: :edit, id: deidentified_client}) do
                  = deidentified_client.client_identifier
              %td= deidentified_client.agency&.name
              %td= deidentified_client.assessment_score
              %td= simple_format deidentified_client.cohort_names
              %td= deidentified_client.days_homeless_in_the_last_three_years
              %td= checkmark deidentified_client.available?
              - if can_manage_deidentified_clients?
                %td
                  - if !deidentified_client.involved_in_match?
                    = link_to deidentified_client_path(deidentified_client),  method: :delete, data: {confirm: "Would you really like to delete this De-identified Non-HMIS client?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                      %span.icon-cross
                      Delete
              - if current_user.can_view_some_clients?
                %td
                  - if deidentified_client.client
                    = link_to client_path(deidentified_client.client) do
                      %span.icon-arrow-right2

%p= paginate @non_hmis_clients