%h1 Add a Deidentifed Client
= simple_form_for @non_hmis_client, url: deidentified_clients_path do |f|
  = f.error_notification
  .row
    .col-sm-6
      .form-inputs
        = render 'client', form: f
        %hr
        = f.simple_fields_for :client_assessments do |a|
          = render 'assessment', form: a
      .form-actions
        = f.button :submit, "Create Client", class: 'btn btn-primary'
