- title = _('De-identified Client')

-# Layout
-# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

- if pathways_enabled?
  = render 'non_hmis_clients/show_layout',
    title: "#{title} #{@non_hmis_client.client_identifier}"

- else
  = render 'breadcrumbs'
  %h1 #{_('De-identified Client')}

  = simple_form_for @non_hmis_client, url: deidentified_client_path(@non_hmis_client.id) do |f|
    = f.error_notification
    .row
      .col
        .form-actions
          = link_to edit_deidentified_client_path(@non_hmis_client.id), class: 'btn btn-sm btn-secondary mb-auto' do
            Edit
          = link_to new_assessment_deidentified_client_path(@non_hmis_client.id), class: 'btn btn-sm btn-secondary ml-2 mb-auto' do
            %span.icon-plus
            Add New Assessment
          - if @non_hmis_client.non_hmis_assessments.count > 1
            .ml-auto
              = render 'assessments'
        .form-inputs
          = render 'client', client_form: f, disabled: true
          %hr
          = f.simple_fields_for :client_assessments, @assessment do |a|
            - # view is versioned, so choose view based on model type
            = render @assessment.model_name.element, client_form: f, assessment_form: a, disabled: true

  = content_for :page_js do
    :javascript
      $('.select2').select2();
