- match_decisions = match.decisions.order(id: :asc).where(type: @types.keys)
%ol.match-progress-bar{"step-count" => "#{match_decisions.count}"}
  -# %li{class: "match-progress-bar__step match-progress-bar__step--done"}
  -#   .match-progress-bar__step__name 
  -#     test
  -#   .match-progress-bar__step__marker
  -#     .number
  -#       1
  - match_decisions.each do |decision|
    - decision_status = decision.incomplete_active_done?
    %li{class: "match-progress-bar__step match-progress-bar__step--#{decision_status}"}
      .match-progress-bar__step__name 
        = decision.step_name
      .match-progress-bar__step__marker{data: {toggle: :tooltip, title: decision.step_name}}
        - if @types[decision.type].to_i == @types.length.to_i
          .icon-home3
        - else
          .number
            = @types[decision.type]
= match.current_step_name || match.overall_status
