- if @active_filter
  - filter_class = 'filter-sort__filter-active'
- else
  - filter_class = 'filter-sort__filter'
%div.dropdown{class: filter_class}
  %button.btn.btn-default.dropdown-toggle.mr-4{data: {toggle: 'dropdown'}}
    Filter
    %span.caret
  .dropdown-menu.dropdown-menu.options
    = form_tag(nil, method: "get") do
      -# preserve sort and search for filtering
      -# preserve sort and search for filtering
      - if params[:sort]
        = hidden_field_tag :sort, params[:sort]
      - if params[:direction]
        = hidden_field_tag :direction, params[:direction]
      - if params[:q]
        = hidden_field_tag :q, params[:q]
      .mb-2
        %select{name: :current_step, style: 'width: 100%;'}
          %option{value: ''} Filter by Current Step
          - available_steps.each do |label,value|
            - selected = @current_step == value
            %option{value: value, selected: selected}
              = label

      .mb-4
        %select{name: :current_route, style: 'width: 100%;'}
          %option{value: ''} Show all Match Routes
          - available_routes.each do |label,value|
            - selected = @current_route == value
            %option{value: value, selected: selected}
              = label

      .mb-2.d-flex
        = link_to clients_path, class: 'btn btn-light' do
          %i.icon-cross
          Clear
        %button.btn.btn-primary.ml-auto{type: :submit}
          %i.icon-filter
          Filter

= content_for :page_js do
  :javascript
    $('select').select2();
