- if @active_filter
  - filter_class = 'filter-sort__filter-active'
- else
  - filter_class = 'filter-sort__filter'
.btn-group{class: filter_class}
  %button.btn.btn-default.dropdown-toggle{data: {toggle: 'dropdown'}}
    Filter
    %span.caret
  .dropdown-menu.dropdown-menu.options
    = form_tag(nil, method: "get") do
      -# preserve sort and search for filtering
      -# preserve sort and search for filtering
      - if params[:sort] 
        = hidden_field_tag :sort, params[:sort]
      - if params[:direction] 
        = hidden_field_tag :direction, params[:direction]
      - if params[:q] 
        = hidden_field_tag :q, params[:q]
      .row
        .col-sm-10
          %p
            %select{name: :current_step, style: 'width: 100%;'}
              %option{value: ''} Filter by Current Step
              - available_steps.each do |label,value|
                - selected = @current_step == value
                %option{value: value, selected: selected}
                  = label
      .row
        .col-xs-6
          %p
            %button.btn.btn-primary.icon-filter{type: :submit} Filter
        .col-xs-6.text-right
          %p= link_to ' Clear Filters', return_path, class: 'btn btn-secondary icon-cross'
= content_for :page_js do
  :javascript
    $('select').select2();
    (function($) {
      var filter_class = '.#{filter_class}'
      function toggle_clickable(e) {
        if($(e.target).closest(filter_class).length == 0 ) {
          $(filter_class).data('closeable', true);
        }
      }
      $(filter_class).on('hide.bs.dropdown', function (e) {
        var closable = $(this).data('closeable');
        if(closable) {
          $('body').off('click', toggle_clickable);
        }
        return closable;
      });
      $(filter_class).on('show.bs.dropdown', function (e) {
        $(this).data('closeable', false);
        // Make clicking outside of the menu close the menu
        $('body').on('click', toggle_clickable);
      });
      $(filter_class).on('click', '*', function(e) {
        var $target = $(e.target);
        var closeable = $target.parent().data('closeable');
        if($target.hasClass('dropdown-toggle') && closeable == false) {
          $target.parent().data('closeable', true);
        }
      });
    })(jQuery);
    