.d-flex.justify-content-end
  - if can_add_vacancies?
    = link_to new_opportunity_path, class: 'btn btn-primary pull-right margin-bottom-02' do
      %span.icon-plus
      Submit a Vacancy

- if show_match_status_facet_nav?
  %ul.nav.nav-tabs
    %li.nav-item{role: "presentation", class: ('active' if controller_path == 'active_matches')}
      = link_to 'Matches in Progress', active_matches_path, class: 'nav-link'
    %li.nav-item{role: "presentation", class: ('active' if controller_path == 'closed_matches')}
      = link_to 'Closed Matches', closed_matches_path, class: 'nav-link'

.row
  .col-sm-9
    %h1= @heading
    %p= page_entries_info @matches
    = render 'help_text'
  .col-sm-3.text-right
    = render 'show_confidential_names'
:ruby
  columns = ['client_id', 'calculated_first_homeless_night', 'days_homeless', 'days_homeless_in_last_three_years']
  if @show_vispdat
    columns << 'vispdat_score'
    columns << 'vispdat_priority_score'
  end
  directions = current_sort_order(Hash[columns.map {|x| [x, nil]}])
  titles = {}
  directions.each {| k,v | titles[k] = @matches.human_attribute_name(k)}
  titles['client_id'] = 'Client'
  titles['calculated_first_homeless_night'] = "First Homeless Night"

%p= paginate @matches, params: {sort: directions.compact.keys.first, direction: directions.compact.values.first}
= render 'matches/list', matches: @matches, match_type: 'opportunity'
%p= paginate @matches, params: {sort: directions.compact.keys.first, direction: directions.compact.values.first}
