.row
  .col-sm-4.col-sm-offset-8
    - if can_add_vacancies?
      = link_to new_opportunity_path, class: 'btn btn-primary pull-right margin-bottom-02' do
        %span.icon-plus
        Submit a Vacancy
  
- if show_match_status_facet_nav?
  .row

    %ul.nav.nav-tabs
      %li{role: "presentation", class: ('active' if controller_path == 'active_matches')}
        = link_to 'Matches in Progress', active_matches_path
      %li{role: "presentation", class: ('active' if controller_path == 'closed_matches')}
        = link_to 'Closed Matches', closed_matches_path

.row
  .col-sm-12
    %h1= @heading
    %p= page_entries_info @matches
    = render 'help_text'
:ruby
  columns = ['client_id', 'calculated_first_homeless_night']
  directions = current_sort_order(Hash[columns.map {|x| [x, nil]}])
  titles = {}
  directions.each {| k,v | titles[k] = @matches.human_attribute_name(k)}
  titles['client_id'] = 'Client'
  titles['calculated_first_homeless_night'] = "First Homeless Night"
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            - titles.each do | k, title |
              %th
                = sort_link(titles[k], k, directions)
                %i{:class => ["fa", "fa-sort-#{directions[k]}"] }
            %th Current Step
            %th Initial Match Date
            %th
              Funding Source &amp; Service Provider
            - if show_links_to_matches?
              %th
        %tbody
          - @matches.each do |match|
            - active_in_other_match_class = ''
            - if match.client.active_in_match.present? && match.client.active_in_match != match.id
              - active_in_other_match_class = 'client__active-match-elsewhere'
            %tr{class: active_in_other_match_class}
              %td
                - if match.client.accessible_by_user? current_user
                  = link_to client_path(match.client) do
                    = match.client_name_for_contact current_contact
                - else
                  = match.client_name_for_contact current_contact
              %td
                = match.client.calculated_first_homeless_night.try(:strftime, I18n.t('date.formats.default'))
              %td= match.current_step_name || match.overall_status
              %td= match.created_at.try(:strftime, I18n.t('date.formats.default'))

              %td
                = match.opportunity_details.organizations
              - if show_links_to_matches?
                %td
                  = link_to 'View / Update Match', match_path(match)

    %p= paginate @matches, params: {sort: directions.compact.keys.first, direction: directions.compact.values.first}