= content_for :modal_title do
  Client Details
- unless @match.show_client_info_to? current_contact
  %p Sorry, you are not able to see that information at this time
- else
  %p
    %strong
      = @client.full_name
    %br
    - if @client.date_of_birth.present?
      %span.age
        = "Date of Birth: #{@client.date_of_birth}"
    - else
      %span.age (age unknown)
    %br
    SSN:
    - if @client.ssn.present?
      = ssn(@client.ssn)
    - else
      none on file
    %br
    Gender:
    = @client.gender.try(:text) || 'not on file'
    %br
    Race:
    = @client.race.try(:text) || 'not on file'
    %br
    Ethnicity:
    = @client.ethnicity.try(:text) || 'not on file'
    %br
    Home Phone:
    = @client.homephone
    %br
    Cell Phone:
    = @client.cellphone
    - if @client.workphone.present?
      %br
      Work Phone
      = @client.workphone
    - if @client.pager.present?
      %br
      Pager:
      = @client.pager
    %br
    Email:
    = @client.email
  .row
    .col-sm-6
      %h4 Date of First Homelessness
      %p
        - if @client.calculated_first_homeless_night.present?
          = @client.calculated_first_homeless_night
        - else
          Unknown
    .col-sm-6
      %h4 Last Bed Stay or Outreach Contact
      = @client.project_client[:calculated_last_homeless_night]
      = @client.project_client.try(:building).try(:name)

  %h3 CAS Housing History
  %p (This information is only known for opportunities created through CAS.)
  %table.table.table-condensed
    %thead
      %tr
        %th Date
        %th Program
        %th Notes
    %tbody
      - @matches.each do |match|
        %tr
          %td
            = match.updated_at.to_date
          %td
            = match.opportunity_details.program_name
            - if ! match.opportunity_details.sub_program_name.blank?
              = "(#{match.opportunity_details.sub_program_name})"
          %td
            = match.overall_status[:name]
= content_for :modal_only_footer do
  = link_to access_context.match_client_details_path(@match) do
    %span.icon-printer{title: "Printable", data: {toggle: "tooltip", placement: "top"}, aria: {label: 'Printable'}}
