= render 'reports/crumbs_operational'
= render 'reports/dashboards/tabs', active: 'contacts'

.c-card
  .c-card__content
    = render 'reports/dashboards/contacts/contacts_filter', path: reports_dashboards_contacts_path

.table-responsive
  .c-card.c.card__flush.mb-4
    .c-card__content.p-0
      %table.table.table-striped.mb-0
        %thead
          %th Route
          - @report.column_ids.each do |column|
            %th= @report.human_readable_column_name(column)
        %tbody
          - @report.data&.each do |row|
            %tr
              %td= row[:route]
              - @report.column_ids.each do |column|
                - if row[column]&.count&.nonzero?.present?
                  %td= link_to row[column].count,  details_reports_dashboards_contacts_path(details_params.merge( {column: column, route_id: row[:route_id]})), target: '_blank'
                - else 
                  %td= row[column]&.count