.row.mb-4
  .col-12
    .c-quesiton
      - label = 'Availability Status'
      - if disabled
        = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.available_availabilities.to_h.invert[@non_hmis_client.available], label: label, size: :sm
      - else
        = f.input :available, collection: @non_hmis_client.available_availabilities, label: label, input_html: {class: 'select2 select2--full-width jStatusAvailbleTrigger'}
- unless @non_hmis_client.available && disabled
  .row.jStatusUnavailble
    .col-12.mb-4
      .c-quesiton
        - label = 'Date'
        - if disabled
          = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.available_date, label: label, size: :sm
        - else
          = f.input :available_date, as: :date_picker,  disabled: disabled, label: label
    .col-12
      .c-quesiton
        - label = 'Reason'
        - if disabled
          = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.available_reason, label: label, size: :sm
        - else
          = f.input :available_reason, disabled: disabled, label: label
