= render 'sub_programs/breadcrumbs'
.o-page
  .o-page__title
    %h1 Edit Program Details
    .o-page__action
      = render 'sub_programs/status_blocks'
      - if can_edit_programs?
        = link_to new_program_sub_program_path(@program), class: 'btn btn-primary ml-sm-6' do
          %span.icon-plus
          Add a Sub-Program

  = render 'sub_programs/tab_navigation', active: 'program_details'
  = simple_form_for @program, url: form_url do |f|
    - other_sub_programs = @program.sub_programs.count - 1
    - if other_sub_programs > 0
      %p.alert.alert-warning
        %span.icon-warning
        This program has
        = "#{pluralize other_sub_programs, 'other sub-program'}."
        %br
        = "Any changes you make on this page, including changing rules or services will also affect the #{pluralize other_sub_programs, 'other sub-program'}.  It may make more sense to change the rules on the #{Building.model_name.human.downcase}, sub-grantee or service provider for the sub-program instead."

    .form-inputs.mb-6
      .row
        .col-md-8
          = render 'programs/program_bits', f: f
      .row
        .col-md-8
          = render 'service_manager/form_fields', form: f, heading: 'Services Attached to this Program'

      = render 'requirement_manager/form_fields', form: f, selected_requirements_heading: 'Rules for this Program', help_text: "In programs with more than one #{Building.model_name.human.downcase}, when a match is made, only #{Building.model_name.human.downcase} rules for the applicable #{Building.model_name.human.downcase} will be applied.  If you need to ensure a rule will be applied across all #{Building.model_name.human.downcase} in the program, add it on this program screen as well."

    .form__actions
      = f.submit 'Save Program', class: 'btn btn-success'

= content_for :page_js do
  :javascript
    $('select').select2();
