<div class="selected-contact" data-contact-row data-contact-id="{{contact.id}}">
  <input type="hidden" name="{{input_name_prefix}}[]" value="{{contact.id}}">
  <a href="#" class="selected-contact--remove-link" data-remove-contact-link="{{contact.id}}">
    <span class="icon-cross"></span>
  </a>
  {{contact.name}}
  {{contact.email}}
  {{contact.phone}}    
</div>
