%tr
  %td.history--date= event.timestamp.try(:strftime, '%m/%d/%Y')
  %td.history--event-name
    = event.name
    - if event.client_last_seen.present?
      .history--event-client-last-seen
        %strong Client last seen:
        = event.client_last_seen
    - if event.response.present?
      .history--event-response
        = event.response
    - if event.note.present?
      .history--event-note
        %strong Note:
        = event.note
        - if event.note_editable_by? current_contact
          .history--event-note--actions
            =link_to edit_match_match_progress_update_note_path(match, event, match_note_referrer_params), data: {loads_in_pjax_modal: true} do
              %span.icon-pencil
              Edit Note

  %td.history--contact-name= event.contact_name
  %td