.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Last Name
          %th First Name
          %th Family Member
          %th Days Homeless in the Last 3 Years
          %th Warehouse Client Id
          %th Available?
          - if current_user.can_view_some_clients?
            %th CAS Client
        %tbody
          - @non_hmis_clients.each do |imported_client|
            %tr
              %td
                = link_to({action: :edit, id: imported_client}) do
                  = imported_client.last_name
              %td
                = link_to({action: :edit, id: imported_client}) do
                  = imported_client.first_name
              %td= checkmark imported_client.family_member
              %td= imported_client.current_assessment.days_homeless_in_the_last_three_years
              %td= imported_client.warehouse_client_id
              %td= checkmark(imported_client.available)
              - if current_user.can_view_some_clients?
                %td
                  - if imported_client.client
                    = link_to client_path(imported_client.client) do
                      %span.icon-arrow-right2

%p= paginate @non_hmis_clients