= render 'breadcrumbs'
%h1
  Upload Complete

- problems = @csv.clients.reduce(0){ |sum, client| sum += client.errors.count }

%ul.list-unstyled
  %li= "#{@csv.added} new clients added"
  %li= "#{@csv.touched} existing clients updated"
  %li= "#{problems} records with problems"

- if problems > 0
  .row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Client
          %th Item
          %th Problem
        %tbody
          - @csv.clients.each do |client|
            - client.errors.each_with_index do |error, index|
              %tr
                - if index == 0
                  %td= "#{client.first_name} #{client.last_name} (#{client.email})"
                - else
                  %td
                %td= error.first.to_s.humanize
                %td= error.last.capitalize
.row
  = link_to 'Return to Clients', imported_clients_path, class: 'btn btn-sm btn-primary'