.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Last Name
          %th First Name
          %th Middle Name
          %th Age
          %th Agency
          %th Family Member
          %th Assessment Score
          %th Cohorts

          %th Days Homeless in the Last 3 Years
          %th Available?
          - if can_manage_identified_clients?
            %th
          - if current_user.can_view_some_clients?
            %th CAS Client

        %tbody
          - @non_hmis_clients.each do |identified_client|
            %tr
              %td
                = link_to identified_client.last_name, identified_client_path(identified_client)
              %td
                = link_to identified_client.first_name, identified_client_path(identified_client)
              %td
                = link_to identified_client.middle_name, identified_client_path(identified_client)
              %td= Client.age(date: Date.today, dob:identified_client.date_of_birth)
              %td= identified_client.agency&.name
              %td= checkmark identified_client.family_member
              %td= identified_client.current_assessment&.assessment_score

              %td= simple_format identified_client.cohort_names

              %td= identified_client.current_assessment&.days_homeless_in_the_last_three_years
              %td= checkmark(identified_client.available)
              - if can_manage_identified_clients?
                %td
                  - if !identified_client.involved_in_match?
                    = link_to identified_client_path(identified_client),  method: :delete, data: {confirm: "Would you really like to delete this Non-HMIS client?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                      %span.icon-cross
                      Delete
              - if current_user.can_view_some_clients?
                %td
                  - if identified_client.client
                    = link_to client_path(identified_client.client) do
                      %span.icon-arrow-right2


%p= paginate @non_hmis_clients
