%h3 Demographics
  .mb-4
    = form.input :first_name, disabled: disabled
    = form.input :middle_name, disabled: disabled
    = form.input :last_name, disabled: disabled
  .row
    .col-md-8
      = form.input :date_of_birth, as: :date_picker, disabled: disabled
      = form.input :ssn, label: "SSN", input_html: {maxlength: 9}, disabled: disabled

%h3 System Info
- if can_edit_all_clients?
  .jAgency
      = form.association :agency, input_html: {class: :select2}, disabled: disabled

  = form.input :contact_id, collection: @contacts, as: :grouped_select, group_method: :last, selected: @contact_id, include_blank: 'None', label: "Default #{_('Shelter Agency')} Contact", input_html: {class: 'select2 jContact' }, disabled: disabled

  - if can_add_cohorts_to_deidentified_clients? && Warehouse::Base.enabled?
    = form.input :active_cohort_ids, collection: Warehouse::Cohort.active, input_html: { multiple: true, class: 'select2' }, label: "Cohorts", disabled: disabled

  = form.input :limited_release_on_file, as: :pretty_boolean, label: 'Limited Coordinated Access System Release on file', disabled: disabled
  = form.input :full_release_on_file, as: :pretty_boolean, label: 'Full Housing Access Network Release on file', disabled: disabled
  = form.input :active_client, as: :pretty_boolean, disabled: disabled
  = form.input :eligible_for_matching, as: :pretty_boolean, disabled: disabled
