%section.mb-6
  %h3 Demographics
  - ssn_label = 'Social Security Number'
  - ssn_hint = 'We only use this for matching purposes.  Numbers only, no hyphens.'
  - ssn_refused_label = 'Client is uncomfortable sharing their SSN.'
  - if disabled
    .c-question
      = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.full_name, label: 'Client Name'
    .c-question
      = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.date_of_birth, label: 'Date of Birth'
    .c-question
      = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.ssn, label: ssn_label, hint: ssn_hint
    .c-question
      = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.ssn_refused, label: ssn_refused_label
    - if @non_hmis_client.gender_descriptions(brief: true).any?
      .c-question
        = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.gender_descriptions(brief: true).join(', '), label: 'Gender'
    - if @non_hmis_client.race_descriptions.any?
      .c-question
        = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.race_descriptions, label: 'Race'
    - if @non_hmis_client.ethnicity
      .c-question
        = render 'non_hmis_clients/assessments/question_display', value: Ethnicity.find_by(numeric: @non_hmis_client.ethnicity)&.text, label: 'Ethnicity'
  - else
    = form.input :first_name
    = form.input :middle_name
    = form.input :last_name
    = form.input :date_of_birth, as: :date_picker
    = form.input :ssn, label: ssn_label, input_html: { maxlength: 9, style: 'width: 10em;' }, hint: ssn_hint
    = form.input :ssn_refused, label: ssn_refused_label, as: :pretty_boolean, wrapper: :custom_boolean
    = form.input :gender, collection: Client::HUD_GENDERS.invert.to_a, as: :select_2, input_html: { multiple: true }
    = form.input :race, collection: Client::HUD_RACES.invert.to_a, as: :select_2, input_html: { multiple: true }
    = form.input :ethnicity, collection: Ethnicity.distinct.order(numeric: :asc).pluck(:text, :numeric), as: :select_2
%section
  -# Probably need to update with more appropriate title
  %h3 Agency Information
  - if can_edit_all_clients?
    .jAgency
      .row
        .col-md-10
          - if disabled
            .c-question
              = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.agency&.name, label: 'Agency'
          - else
            = form.association :agency, input_html: {class: :select2}, disabled: disabled

    .row
      .col-md-10
        - label = "Default #{Translation.translate('Shelter Agency')} Contact"
        - if disabled
          .c-question
            = render 'non_hmis_clients/assessments/question_display', value: @non_hmis_client.contact&.name_with_email, label: label
        - else
          = form.input :contact_id, collection: @contacts, as: :grouped_select, group_method: :last, selected: @contact_id, include_blank: 'None', label: label, input_html: {class: 'select2 jContact' }, disabled: disabled

  = form.input :full_release_on_file, as: :pretty_boolean, wrapper: :custom_boolean, label: 'Full HAN Release on File', disabled: disabled

  = render 'non_hmis_clients/inputs/status', f: form, disabled: disabled
  -# = form.input :active_client, as: :pretty_boolean, wrapper: :custom_boolean, disabled: disabled
  -# = form.input :eligible_for_matching, as: :pretty_boolean, wrapper: :custom_boolean, disabled: disabled

- unless disabled
  = render 'deidentified_clients/js'
