.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %th Name
          %th Age
          %th Agency
          %th Family Member
          %th Assessment Score
          %th Cohorts
          
          %th Days Homeless in the Last 3 Years
          %th
          %th

        %tbody
          - @deidentified_clients.each do |deidentified_client|
            %tr
              %td
                = deidentified_client.first_name
                = deidentified_client.middle_name
                = deidentified_client.last_name
              %td= Client.age(date: Date.today, dob:deidentified_client.date_of_birth)
              %td= deidentified_client.agency
              %td= checkmark deidentified_client.family_member
              %td= deidentified_client.assessment_score
              
              %td= simple_format deidentified_client.cohort_names
              
              %td= deidentified_client.days_homeless_in_the_last_three_years

              - if can_manage_identified_clients?
                - if deidentified_client.identified
                  %td
                    = link_to edit_identified_client_path(deidentified_client.id), class: ['btn', 'btn-sm', 'btn-secondary'] do
                      %span.icon-pencil
                      Edit
                - else
                  %td
                    = link_to({action: :edit, id: deidentified_client}, class: ['btn', 'btn-sm', 'btn-secondary']) do
                      %span.icon-pencil
                      Edit
                - if !deidentified_client.involved_in_match?
                  %td
                    = link_to deidentified_client_path(deidentified_client),  method: :delete, data: {confirm: "Would you really like to delete this deidentified_client?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                      %span.icon-cross
                      Delete

%p= paginate @deidentified_clients