- title = _('Non-HMIS Clients')
- content_for :title, title
.d-flex
  %h1= content_for :title
  - @prompt = "Search Clients..."
.row
  .col-sm-4
    = render 'clients/search_form'
  .col-sm-8.filter-sort__filter.d-flex
    = render 'filter'
    = render 'clients/sort', sort_options: sort_options
  = link_to new_identified_client_path, class: 'btn btn-sm btn-primary ml-auto mb-auto' do
    %span.icon-plus
    Add a Identifed Client
= render 'menus/non_hmis_clients'
= render 'table'

