%h1 Add an #{_('Identified Client')}
= simple_form_for @non_hmis_client, url: identified_clients_path do |f|
  = f.error_notification
  .row
    .col
      .form-inputs
        = f.simple_fields_for :client_assessments, @assessment do |a|
          - # view is versioned, so choose view based on model type
          = render @assessment.model_name.element, f: f, form: a, disabled: false
      .form-actions
        = f.button :submit, "Create Client", class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $('.select2').select2();