- title = _('Client Addresses')
- content_for :title, title

= render 'reports/crumbs_operational'
%h1.mb-5= title

= render 'filter'

- if @addresses.present?
  .d-flex
    %p= page_entries_info @addresses
    %p= paginate @addresses
  .c-card.c-card--flush
    .c-card__content.p-0
      %table.table.table-striped
        %thead
          %tr
            - headers.each do |header|
              %th= header
        %tbody
          - @addresses.pluck(columns).each do |row|
            %tr
              - row.each do |value|
                - if !!value == value # Check for boolean
                  %td= yes_no(value)
                - else
                  %td= value
- else
  .no-data
    No clients found.
