- title = _('Client Addresses')
- content_for :title, title

= render 'reports/crumbs_operational'
%h1.mb-5= title

%p List the recorded addresses for clients in successful matches where the move-in date falls within the specified date range.

= render 'filter'

- if @addresses.present?
  .d-flex.mb-4
    .ml-auto
      = link_to "Download Excel", reports_housed_addresses_path(format: :xlsx, filter: filter_params), class: 'btn btn-secondary'
  .d-flex.mb-4
    %p= page_entries_info @addresses
    %p.ml-auto= paginate @addresses
  .c-card.c-card--flush
    .c-card__content.p-0
      %table.table.table-striped
        %thead
          %tr
            - header.each do |header|
              %th= header
        %tbody
          - data.each do |row|
            %tr
              - row.each_with_index do |value, index|
                - display_type = column_types[index]
                - transform = column_transformations[index]
                - case display_type
                  - when :boolean
                    %td= yes_no(value)
                  - when :address
                    %td= simple_format(value)
                  - else
                    %td= transform.present? ? transform.call(value) : value
- else
  .no-data
    No clients found.
