%section.c-card.c-card--flush
  %h3 Availability
  .c-card__content
    = render 'availability_status'
    %hr.c-card__rule

    = render 'housing_requirements'
    = render 'neighborhoods'
    = render 'homelessness'
    = render 'domestic'
    = render 'criminality'
    = render 'health'

    .row
      = render 'scores'
      = render 'eligibility'

    .row
      = render 'enrollments'
      = render 'cohorts'
    .row
      = render 'tags'
      = render 'files'
