.c-tag.c-tag--full-width{class: "c-tag--#{@client.is_available_for_matching? ? 'success' : 'warning'}"}
  .c-tag__wrapper
    .c-tag__icon.c-tag__icon--sm
      .icon-checkmark
    .c-tag__content
      %span.c-tag__label=@client.available_text
      - if can_reject_matches?
        .c-tag__action
          = render 'park_client_form'
- if @client.unavailable_as_candidate_fors.exists?
  .blocked-on-routes
    %p.m-2.mt-4.muted-text
      - if @client.unavailable_fors_include_active_match
        %em Clients are blocked from matching while actively in a resource match.
      - else
        - if UnavailableAsCandidateFor.expiration_length.positive?
          %em Clients are blocked from matching on the same route for #{UnavailableAsCandidateFor.describe_expiration_length} after a complete and successful match.
        - else
        %em Clients are blocked from matching on the same route after a complete and successful match.
    %p.m-2.mt-4.muted-text
      %em #{@client.name} will not match any vacancies on the following routes:
    %ul.ml-2.c-detailed-list<
      - @client.unavailable_as_candidate_fors.each do |uf|
        %li.c-detailed-list__item
          %span.c-detailed-list__label
            - note = uf.route&.title || ''
            - if uf.expires_at.present?
              - note += " until #{uf.expires_at.to_date}"
            = note
          - if Client.editable_by(current_user).where(id: @client.id).exists?
            %span.c-detailed-list__value= link_to 'Make Available', client_unavailable_on_route_path(@client, uf), method: :delete, class: 'btn btn-sm btn-secondary', data: { confirm: "Are you sure you would like #{@client.name} to be available for matching on the #{uf.route&.title}?" }
