- not_specified = '<span class="font-no-data">Not specified</span>'.html_safe
.row.c-card__content-blocks
  .c-card__content-block.col-md-12.col-lg-6
    %h5 Email
    %span.c-card__content-block.col-md-12.col-lg-6-text= @client.email || not_specified
  .c-card__content-block.col-md-12.col-lg-6
    %h5 Home Phone
    %span.c-card__content-block.col-md-12.col-lg-6-text= @client.homephone || not_specified
  .c-card__content-block.col-md-12.col-lg-6
    %h5 Cell Phone
    %span.c-card__content-block.col-md-12.col-lg-6-text= @client.cellphone || not_specified
  - if @client.workphone.present?
    .c-card__content-block.col-md-12.col-lg-6
      %h5 Work Phone
      %span.c-card__content-block.col-md-12.col-lg-6-text= @client.workphone || not_specified
  - if @client.pager.present?
    .c-card__content-block.col-md-12.col-lg-6
      %h5 Pager
      %span.c-card__content-block.col-md-12.col-lg-6-text= @client.pager || not_specified
  - if @client.project_client.default_shelter_agency_contacts
    .c-card__content-block.col-md-12.col-lg-12
      %h5 #{_('Shelter Agency Contacts')} from HMIS
      %span.c-card__content-block.col-md-12.col-lg-12-text= @client.project_client.default_shelter_agency_contacts.join(', ')
  - if @client.case_manager_contact_info
    .c-card__content-block.col-md-12.col-lg-12
      %h5 Case Manager Contact
      %span.c-card__content-block.col-md-12.col-lg-12-text= @client.case_manager_contact_info