.c-card__content-blocks
  .c-card__content-block
    %h5 Email
    %span.c-card__content-block-text= @client.email || 'NA'
  .c-card__content-block
    %h5 Home Phone
    %span.c-card__content-block-text= @client.homephone || 'NA'
  .c-card__content-block
    %h5 Cell Phone
    %span.c-card__content-block-text= @client.cellphone || 'NA'
  - if @client.workphone.present?
    .c-card__content-block
      %h5 Work Phone
      %span.c-card__content-block-text= @client.workphone || 'NA'
  - if @client.pager.present?
    .c-card__content-block
      %h5 Pager
      %span.c-card__content-block-text= @client.pager || 'NA'
