.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-gavel
    %h5 Criminality
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      %span.c-detailed-list__label= @column_data[:housing_barrier][:title]
      %span.c-detailed-list__value= boolean_icon (@client.housing_barrier)
    %li.c-detailed-list__item
      %span.c-detailed-list__label= @column_data[:lifetime_sex_offender][:title]
      %span.c-detailed-list__value= boolean_icon (@client.lifetime_sex_offender)
    %li.c-detailed-list__item
      %span.c-detailed-list__label= @column_data[:meth_production_conviction][:title]
      %span.c-detailed-list__value= boolean_icon (@client.meth_production_conviction)
