- not_specified = '<span class="font-no-data">Not specified</span>'.html_safe
%section.c-card.c-card--flush
  %h3 Demographics and Contact Info
  .c-card__content
    = simple_form_for(@client, {data: {remote: true}}) do |f|
      = f.error_notification
      .row.c-card__content-blocks
        .col-md-12.col-lg-6.c-card__content-block
          %h5 Age
          %span.c-card__content-block-text= @client.age || not_specified
          - if can_view_full_dob?
            %span.c-card__content-block-text.col-md-12.col-lg-6.c-card__content-block-text--secondary= "(#{date_format(@client.date_of_birth)})" if @client.date_of_birth
        .col-md-12.col-lg-6.c-card__content-block
          %h5 Gender
          %span.c-card__content-block-text= find_and_preserve(@client.gender_descriptions(brief: true).join(', ')).presence || not_specified

        .col-md-12.col-lg-6.c-card__content-block
          %h5 Race
          %span.c-card__content-block-text= find_and_preserve(@client.race_descriptions.join(',<br>')).presence || not_specified
        .col-md-12.col-lg-6.c-card__content-block
          %h5 Ethnicity
          %span.c-card__content-block-text= @client.ethnicity.try(:text) || not_specified
        .col-md-12.col-lg-6.c-card__content-block
          %h5 SSN
          %span.c-card__content-block-text
            - if @client.ssn.present?
              - if can_view_full_ssn?
                = ssn(@client.ssn)
              - else
                = masked_ssn(@client.ssn)
            - else
              = not_specified
        .col-md-12.col-lg-6.c-card__content-block
          %h5 Veteran
          %span.c-card__content-block-text= @client.veteran_status.try(:text) || not_specified
        - if can_view_client_confidentiality?
          .col-md-12.c-card__content-block
            %h5 Confidential Client
            - confidential = @client.confidential
            .btn-group.btn-group-toggle.mb-3{"data-toggle" => "buttons"}
              %label.btn.btn-sm.btn-secondary{class: ('active' if confidential)}
                = f.radio_button :confidential, true, {checked: confidential, data: {remote: true, method: 'patch'}}
                Confidential
              %label.btn.btn-sm.btn-secondary{class: ('active' if !confidential)}
                = f.radio_button :confidential, false, {checked: !confidential, data: {remote: true, method: 'patch'}}
                Public

            %p.help-block.help-block--normal.mb-0
              (If <em>Confidential</em>, name is hidden on lists of matches)

    %hr.c-card__rule
    = render 'contact'
