%section.c-card.c-card--flush
  .c-card__content
    = simple_form_for(@client, {data: {remote: true}}) do |f|
      = f.error_notification
      .c-card__content-blocks
        .c-card__content-block
          %h5 Age
          %span.c-card__content-block-text= @client.age
          %span.c-card__content-block-text.c-card__content-block-text--secondary= "(#{date_format(@client.date_of_birth)})"
        .c-card__content-block
          %h5 SSN
          %span.c-card__content-block-text= masked_ssn @client.ssn
        .c-card__content-block
          %h5 Gender
          %span.c-card__content-block-text= @client.gender.try(:text)
        .c-card__content-block
          %h5 Race
          %span.c-card__content-block-text= @client.race.try(:text)
        .c-card__content-block
          %h5 Ethnicity
          %span.c-card__content-block-text= @client.ethnicity.try(:text)
        .c-card__content-block
          %h5 Veteran
          %span.c-card__content-block-text= @client.veteran_status.try(:text)
        - if can_view_client_confidentiality?
          .c-card__content-block
            %h5 Confidential Client
            - confidential = @client.confidential
            .btn-group.btn-group-toggle.mb-3{"data-toggle" => "buttons"}
              %label.btn.btn-secondary{class: ('active' if confidential)}
                = f.radio_button :confidential, true, {checked: confidential, data: {remote: true, method: 'patch'}}
                Confidential
              %label.btn.btn-secondary{class: ('active' if !confidential)}
                = f.radio_button :confidential, false, {checked: !confidential, data: {remote: true, method: 'patch'}}
                Public

            %p.help-block.help-block--normal.mb-0
              (If <em>Confidential</em>, name is hidden on lists of matches)
