.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-child
    %h5 Domestic
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Part of a family')
      %span.c-detailed-list__value= boolean_icon (@client.family_member)

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Children under age 18 in household')
      %span.c-detailed-list__value= boolean_icon (@client.child_in_household)

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Youth in foster care')
      %span.c-detailed-list__value= boolean_icon (@client.foster_care)

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Current open case')
      %span.c-detailed-list__value= boolean_icon (@client.open_case)

    %li.c-detailed-list__item
      %span.c-detailed-list__label Total Monthly Income
      %span.c-detailed-list__value= number_to_currency(@client.income_total_monthly)

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Strengths')
      %span.c-detailed-list__value= @client.strengths&.join(', ')&.titleize

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Challenges for housing placment')
      %span.c-detailed-list__value= @client.challenges&.join(', ')&.titleize

    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Willing to engage with housing case management')
      %span.c-detailed-list__value= boolean_icon @client.willing_case_management
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Employed for 3 or more months')
      %span.c-detailed-list__value= boolean_icon @client.employed_three_months
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Earning a living wage ($13 or more)')
      %span.c-detailed-list__value= boolean_icon @client.living_wage
