.col-md-12.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-award
    %h5 Eligibility
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Housing Authority Eligible')
      %span.c-detailed-list__value= boolean_icon @client.ha_eligible
    - if can_view_va_eligibility?
      %li.c-detailed-list__item
        %span.c-detailed-list__label VA Eligible
        %span.c-detailed-list__value= boolean_icon @client.va_eligible
      %li.c-detailed-list__item
        %span.c-detailed-list__label VASH Eligible
        %span.c-detailed-list__value= boolean_icon @client.vash_eligible
    %li.c-detailed-list__item
      %span.c-detailed-list__label SSVF Eligible
      %span.c-detailed-list__value= boolean_icon @client.ssvf_eligible
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('CSPECH Eligible')
      %span.c-detailed-list__value= boolean_icon (@client.cspech_eligible)
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Latest Date Eligible for Financial Assistance')
      %span.c-detailed-list__value= @client.financial_assistance_end_date
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Majority Sheltered')
      %span.c-detailed-list__value= boolean_icon (@client.majority_sheltered)
    %li.c-detailed-list__item
      %span.c-detailed-list__label= _('Majority Unsheltered')
      %span.c-detailed-list__value
        - if ! @client.majority_sheltered.nil?
          = boolean_icon (! @client.majority_sheltered)
