.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-medkit
    %h5 Health
  %ul.c-detailed-list<
    %li.c-detailed-list__item
      %span.c-detailed-list__label Developmental Disability
      %span.c-detailed-list__value= boolean_icon @client.developmental_disability
    %li.c-detailed-list__item
      %span.c-detailed-list__label Domestic Violence Survivor
      %span.c-detailed-list__value= boolean_icon @client.domestic_violence
    %li.c-detailed-list__item
      %span.c-detailed-list__label HIV/AIDS (HUD)
      %span.c-detailed-list__value= boolean_icon @client.hiv_aids
    %li.c-detailed-list__item
      %span.c-detailed-list__label Chronic Health Disability
      %span.c-detailed-list__value= boolean_icon @client.chronic_health_problem
    %li.c-detailed-list__item
      %span.c-detailed-list__label Mental Health Disability
      %span.c-detailed-list__value= boolean_icon @client.mental_health_problem
    %li.c-detailed-list__item
      %span.c-detailed-list__label Substance Abuse Problem
      %span.c-detailed-list__value= boolean_icon @client.substance_abuse_problem
    %li.c-detailed-list__item
      %span.c-detailed-list__label Physical Disability
      %span.c-detailed-list__value= boolean_icon @client.physical_disability
    %li.c-detailed-list__item
      %span.c-detailed-list__label Disabling Condition
      %span.c-detailed-list__value= boolean_icon @client.disabling_condition

    - if can_view_dmh_eligibility?
      %li.c-detailed-list__item
        %span.c-detailed-list__label DMH Eligible
        %span.c-detailed-list__value= boolean_icon @client.dmh_eligible

    - if can_view_hues_eligibility?
      %li.c-detailed-list__item
        %span.c-detailed-list__label HUES Eligible
        %span.c-detailed-list__value= boolean_icon @client.hues_eligible

    - if can_view_hiv_positive_eligibility?
      %li.c-detailed-list__item
        %span.c-detailed-list__label HIV+
        %span.c-detailed-list__value= boolean_icon @client.hiv_positive

    %li.c-detailed-list__item
      %span.c-detailed-list__label Disability
      %span.c-detailed-list__value
        - if disability_verified_on = @client.disability_verified_on.try(:strftime, I18n.t('date.formats.default'))
          = "Verified on #{disability_verified_on}"
        - else
          Not Verified
