.c-card__content-group
  .c-card__content-group-heading
    .c-card__content-group-icon.icon-house
    %h5 Homelessness
  - if Config.using_pathways?
    = render 'clients/pathways_homelessness'
  - else
    %ul.c-detailed-list<
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:calculated_first_homeless_night][:title]
        %span.c-detailed-list__value= date_format(@client.calculated_first_homeless_night)
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:days_homeless][:title]
        %span.icon-info{data: {toggle: :tooltip, title: @column_data[:days_homeless][:description]}}
        %span.c-detailed-list__value= number_with_delimiter(@client.days_homeless)
      %li.c-detailed-list__item
        %span.c-detailed-list__label= Translation.translate('Days Homeless in Last Three Years from HMIS')
        %span.icon-info{data: {toggle: :tooltip, title: @column_data[:hmis_days_homeless_last_three_years][:description]}}
        %span.c-detailed-list__value= number_with_delimiter(@client.hmis_days_homeless_last_three_years)
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:days_homeless_in_last_three_years][:title]
        %span.icon-info{data: {toggle: :tooltip, title: @column_data[:days_homeless_in_last_three_years][:description]}}
        %span.c-detailed-list__value= number_with_delimiter(@client.days_homeless_in_last_three_years)
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:days_literally_homeless_in_last_three_years][:title]
        %span.icon-info{data: {toggle: :tooltip, title: @column_data[:days_literally_homeless_in_last_three_years][:description]}}
        %span.c-detailed-list__value= number_with_delimiter(@client.days_literally_homeless_in_last_three_years)
      %li.c-detailed-list__item
        %span.c-detailed-list__label Days Homeless
        %span.c-detailed-list__value
          - if date_days_homeless_verified = @client.date_days_homeless_verified.try(:strftime, I18n.t('date.formats.default'))
            - who_verified_days_homeless = @client.who_verified_days_homeless.present? ? "(#{@client.who_verified_days_homeless})" : ""
            = "Verified on #{date_days_homeless_verified}  #{who_verified_days_homeless}"
          - else
            Not Verified
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:calculated_last_homeless_night][:title]
        %span.c-detailed-list__value= @client.calculated_last_homeless_night.try(:strftime, I18n.t('date.formats.default'))
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:encampment_decomissioned][:title]
        %span.c-detailed-list__value= boolean_icon @client.encampment_decomissioned
      %li.c-detailed-list__item
        %span.c-detailed-list__label= @column_data[:chronic_homeless][:title]
        %span.c-detailed-list__value= boolean_icon @client.chronic_homeless
