- options = { class: :jSearch }
- options[:url] = destination if defined?(destination)
= simple_form_for :search_form, **options, method: :get do |f|
  -# Preserve sort and filtering
  - if params[:sort]
    = hidden_field_tag :sort, params[:sort]
  - if params[:direction]
    = hidden_field_tag :direction, params[:direction]
  - filter_terms.each do | term |
    - if params[term]
      = hidden_field_tag term, params[term]

  .input-group
    = f.input :q, placeholder: @prompt, class: 'form-control', autofocus: true, input_html: { value: @search_string }, label: false
    %span.input-group-append.mb-4
      %button.btn.btn-primary{type: :submit} Search
