%h1= t '.title'
- @prompt = t '.search_prompt'
.row
  .col-sm-4
    = render 'search_form'
  .col-sm-8.filter-sort__filter.d-flex
    = render 'filter'
    = render 'sort', sort_options: Client.sort_options(show_vispdat: @show_vispdat)
- if Client.parked.any?
  .alert.alert-warning
    %p
      %i.icon-warning
      = "Some clients are parked.&nbsp;".html_safe
      = link_to 'See all parked clients.', reports_parked_clients_path

%ul.nav.nav-tabs.margin-bottom-02
  %li.nav-item{role: 'presentation'}
    %a.nav-link.active#available-clients{href: '#available', data: {toggle: :tab}, role: :tab, aria: {controls: :available, selected: true}}
      Available Clients
  %li.nav-item
    %a.nav-link#unavailable-clients{href: '#unavailable', data: {toggle: :tab}, role: :tab, aria: {controls: :unavailable, selected: false}}
      Unavailable Clients

.tab-content
  .tab-pane.fade.show.active#available{role: :tabpanel, aria: {labelledby: 'Available Clients'}}
    = render 'client_list', clients: @available_clients
  .tab-pane.fade#unavailable{role: :tabpanel, aria: {labelledby: 'Unavailable Clients'}}
    = render 'client_list', clients: @unavailable_clients
