= render 'breadcrumbs'
.row
  .col-sm-8
    %h1.name
      = @client.full_name
      - if @client.merged_into
        %a
          = link_to client_path(@client.merged_into) do
            %span.icon-shrink2{data: {toggle: 'tooltip', placement: 'top'}, title: "Merged into #{@client.merged_with_name}"}
        Now:
        = link_to client_path(@client.merged_into) do
          = @client.merged_with_name
  .col-sm-4
    - if warehouse_id = @client.remote_id
      = link_to "https://hmis.boston.gov/clients/#{warehouse_id}", target: '_blank' do
        Warehouse ID:
        = warehouse_id

- if @client.prevent_matching_until.present? && @client.prevent_matching_until > Date.today
  .alert.alert-warning
    %p.icon-warning
      = "#{@client.name} is currently parked and won't be considered for new matches until #{@client.prevent_matching_until}. "
      = link_to 'See all parked clients.', reports_parked_clients_path

.row
  .col-sm-12
    = render 'tab_navigation', active: 'show', client_id: @client.id
.row
  .col-sm-6
    = simple_form_for(@client) do |f|
      = f.error_notification
      - if @client.calculated_first_homeless_night.present?
        %h3
          Homeless Since:
          = date_format(@client.calculated_first_homeless_night)
      %table.table.table-condensed
        %tbody
          %tr
            %th Age
            %td= "#{@client.age} (#{date_format(@client.date_of_birth)})"
          %tr
            %th Chronically Homeless
            %td= checkmark @client.send('chronic_homeless')
          %tr
            %th Date of First Homelessness
            %td
              - if @client.calculated_first_homeless_night.present?
                = date_format(@client.calculated_first_homeless_night)
          %tr
            %th SSN
            %td= masked_ssn @client.ssn
          %tr
            %th Gender
            %td= @client.gender.try(:text)
          %tr
            %th Race
            %td= @client.race.try(:text)
          %tr
            %th Ethnicity
            %td= @client.ethnicity.try(:text)
          %tr
            %th Veteran
            %td= @client.veteran_status.try(:text)
          %tr
            %th Release of information signed on
            %td= @client.release_of_information.try(:to_date)
          - if can_view_vspdats?
            %tr
              %th VISPDAT Score
              %td= @client.vispdat_score
          - if can_view_client_confidentiality?
            %tr
              %th
                Confidential Client
                %p.help-block
                  (name hidden on lists of matches by default)
              %td= f.input_field :confidential
            %tr
              %td.text-right{colspan: 2}
                = f.button :submit, class: 'btn btn-primary', value: 'Update'

  .col-sm-6
    %h3 Last Bed Stay or Outreach Contact
    %table.table.table-condensed
      %tbody
        %tr
          %td
            = @client.project_client[:calculated_last_homeless_night].try(:strftime, I18n.t('date.formats.default'))
    %h3 Availability
    %table.table.table-condensed
      %tbody
        %tr
          %th Disability
          %td
            - if disability_verified_on = @client.disability_verified_on.try(:strftime, I18n.t('date.formats.default'))
              = "Verified on #{disability_verified_on}"
            - else
              Not Verified
        %tr
          %th Housing Release
          %td
            = @client.housing_release_status.presence || 'Not Signed'
        %tr
          %th Available for matching?
          %td
            = checkmark @client.available
            - if @client.available
              = link_to unavailable_client_path(@client), class: 'btn btn-secondary', method: :patch, data: {confirm: "Removing this client from matching will take the client out of any current match and prevent them from being matched in the future.  You'll need to up update the appropriate HMIS to indicate this client is no longer homeless or they will become available the next time the CAS is synchronized.  Are you sure you want to remove this client from matching?"} do
                Remove from Matching
        %tr
          %td{colspan: 2}
            = render 'form'
    %h3 Contact Information
    %table.table.table-condensed
      %tbody
        %tr
          %th Email
          %td= @client.email
        %tr
          %th Home Phone
          %td= @client.homephone
        %tr
          %th Cell Phone
          %td= @client.cellphone
        - if @client.workphone.present?
          %tr
            %th Work Phone
            %td= @client.workphone
        - if @client.pager.present?
          %tr
            %th Pager
            %td= @client.pager
.row
  .col-sm-6
    %h3 Health Information
    %table.table.table-condensed
      %tbody
        %tr
          %th Developmental Disability
          %td= checkmark @client.developmental_disability
        %tr
          %th Domestic Violence Survivor
          %td= checkmark @client.domestic_violence
        %tr
          %th HIV/AIDS (HUD)
          %td= checkmark @client.hiv_aids
        %tr
          %th Chronic Health Disability
          %td= checkmark @client.chronic_health_problem
        %tr
          %th Mental Health Disability
          %td= checkmark @client.mental_health_problem
        %tr
          %th Substance Abuse Problem
          %td= checkmark @client.substance_abuse_problem
        %tr
          %th Physical Disability
          %td= checkmark @client.physical_disability
        %tr
          %th Disabling Condition
          %td= checkmark @client.disabling_condition
        - if can_view_dmh_eligibility?
          %tr
            %th DMH Eligible
            %td= checkmark @client.dmh_eligible

        - if can_view_va_eligibility?
          %tr
            %th VA Eligible
            %td= checkmark @client.va_eligible
        - if can_view_hues_eligibility?
          %tr
            %th HUES Eligible
            %td= checkmark @client.hues_eligible
        - if can_view_hiv_positive_eligibility?
          %tr
            %th HIV+
            %td= checkmark @client.hiv_positive

  .col-sm-6
    .row
      .col-sm-12
        = render 'potential_duplicates'
    .row
      .col-sm-12
        - if @client.previously_merged?
          = render 'previously_merged'
