= render 'breadcrumbs'
.o-body
  .o-body__title
    %h1.name
      = @client.full_name
      - if @client.merged_into
        %a
          = link_to client_path(@client.merged_into) do
            %span.icon-shrink2{data: {toggle: 'tooltip', placement: 'top'}, title: "Merged into #{@client.merged_with_name}"}
        Now:
        = link_to client_path(@client.merged_into) do
          = @client.merged_with_name
    - if @client.alternate_names.present?
      .alternate-names
        %h4 Aliases
        - @client.alternate_names.split(',').each do |name|
          .client-alternate-name
            = name
    .o-body__action
      - if warehouse_id = @client.remote_id
        = link_to Config.get(:warehouse_url) + "/clients/#{warehouse_id}", target: '_blank' do
          Warehouse ID:
          = warehouse_id

  - if @client.prevent_matching_until.present? && @client.prevent_matching_until > Date.today
    .alert.alert-warning
      %p
        %i.icon-warning
        = "#{@client.name} is currently parked and won't be considered for new matches until #{@client.prevent_matching_until}. "
        = link_to 'See all parked clients.', reports_parked_clients_path, class: 'ml-2'

  = render 'tab_navigation', active: 'show', client_id: @client.id        
  
  .row  
    .col-sm-6
      = render 'demographics'
      = render 'contact'
      = render 'client_notes'

    .col-sm-6
      = render 'availability'
      = render 'health'
      
