= simple_form_for [@subgrantee] do |f|
  = f.error_notification
  - disabled = false
  - hint = ''
  .form-inputs
    = f.input :name, disabled: disabled, hint: hint
  
  = render 'service_manager/form_fields', form: f, heading: 'Services Attached to this Subgrantee'
  
  = render 'requirement_manager/form_fields', form: f, selected_requirements_heading: 'Rules for this Sub-Grantee'
  
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
