.row
  .col-sm-12
    %h1 Currently Parked Clients
- if @clients.any?
  %p= "The following clients have been removed from matching temporarily"
  %p= page_entries_info @clients
  .row
    .col-sm-12
      .table-responsive
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th Last Name
              %th First Name
              %th Parked Until
          %tbody
            - @clients.each do |client|
              %tr
                %td
                  = link_to_if can_view_all_clients?, client.last_name, client_path(client)
                %td= link_to_if can_view_all_clients?, client.first_name, client_path(client)
                %td= client.prevent_matching_until
  %p= paginate @clients
- else
  %p No parked clients at this time.