= render 'reports/crumbs_operational'
.row
  .col-sm-12
    %h1 Currently Parked Clients
- if @routes.count > 1
  %ul.nav.nav-tabs{role: :tablist}
    - @routes.each do |route|
      - route_name = route.title
      - tab_label = route_to_html_id(route)
      - if @active_tab == tab_label
        - active = 'active'
      - else
        - active = ''
      %li.nav-item{role: :presentation}
        = link_to route_name, reports_parked_clients_path(tab: tab_label), class: "nav-link #{active}"
- if @clients.any?
  %p= "The following clients have been removed temporarily from matching the #{@route.title}"
  %p= page_entries_info @clients
  .row
    .col-sm-12
      .table-responsive
        %table.table.table-condensed.table-hover
          %thead
            %tr
              %th Last Name
              %th First Name
              %th Parked Until
          %tbody
            - @clients.each do |client|
              %tr
                %td
                  = link_to_if can_view_all_clients?, client.last_name, client_path(client)
                %td= link_to_if can_view_all_clients?, client.first_name, client_path(client)
                %td= client.unavailable_as_candidate_fors.merge(UnavailableAsCandidateFor.for_route(@route))&.first&.expires_at&.to_date
  %p= paginate @clients
- else
  %p No parked clients at this time.