.row
  .col-xs-12
    .match-decision
      %p
        - hearing_date = @match.schedule_criminal_hearing_housing_subsidy_admin_decision.criminal_hearing_date
        - if hearing_date.present?
          Please note: a criminal background hearing has been schedule for 
          %strong
            = "#{hearing_date.to_s}."
        - else
          Please note: No criminal background hearing was requested.
      %p Once you have enough information about this match, please accept or decline the match accordingly.
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        = form.input :note, as: :text, input_html: {rows: 4, disabled: (!@decision.editable?)}

        = render 'match_decisions/decline_reason', form: form

        .form-actions.clearfix
          - if can_reject_matches?
            .well
              = render 'match_decisions/park_client', form: form
              = render 'match_decisions/cancel_match_form_fields', form: form
          = form.submit 'Decline Match', class: 'btn btn-secondary', data: {submit_param_name: 'decision[status]', submit_param_value: 'declined'}, disabled: (!@decision.editable?)
          = form.submit 'Accept Match Recommendation', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted'}, disabled: (!@decision.editable?)

        %p If the match is declined, the DND will be informed of the decision. If accepted, all involved parties will be notified.
