.o-choose__choice
  %header.jMatchHeader
    %ul.o-choose__nav.nav.jMatchActionNav
      = render 'match_decisions/cancel_tab'
      = render 'match_decisions/park_tab'
      = render 'match_decisions/backup_tab'
  .o-choose__content
    .tab-content
      - cancel_data = {submit_param_name: 'decision[status]', submit_param_value: 'canceled'}
      = render 'match_decisions/cancel_tab_content', form: form, cancel_data: cancel_data
      = render 'match_decisions/park_tab_content', form: form, cancel_data: cancel_data
      = render 'match_decisions/backup_tab_content', form: form, cancel_data: cancel_data


= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')
    new App.Matches.ActionNav('.jMatchHeader')

    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[administrative_cancel_reason_id][]')
    new window.App.Matches.Decline($('.jCancelReason input[type=checkbox]'),$('.jOtherCancelReason'))

= render 'match_decisions/cancel_and_park_js'