.o-choose__choice
  %header.jMatchHeader
    .o-choose__title
      .c-choice-icon.c-choice-icon--cancel.jMatchActionIcon
      %h3.jMatchActionTitle Cancel Match
    %ul.o-choose__nav.nav.jMatchActionNav
      %li.nav-item
        %a.nav-link.active{href:'#cancel-client', data: {toggle:'tab', type: 'cancel', title: 'Cancel Match'}, role:'tab', aria:{controls:'cancel'}}
          %i.icon-minus-circle
          Cancel
      - if can_reject_matches?
        %li.nav-item
          %a.nav-link{href:'#park-client', data: {toggle:'tab', type: 'park', title: 'Park Match'}, role:'tab', aria:{controls:'park'}}
            %i.icon-clock
            Park
  .o-choose__content
    .tab-content
      - cancel_data = {submit_param_name: 'decision[status]', submit_param_value: 'canceled'}
      #cancel-client.tab-pane.active{role:'tabpanel', aria: {labelledby:'cancel-client'}}
        = render 'match_decisions/cancel_match_form_fields', form: form
        = form.submit 'Cancel Match', class: 'btn btn-warning jCancel', data: cancel_data, disabled: !@decision.editable?

      #park-client.tab-pane{role:'tabpanel', aria: {labelledby:'park-client'}}
        = render 'match_decisions/park_client', form: form
        = render 'match_decisions/cancel_match_form_fields', form: form, client_action: 'park'
        = form.submit 'Park Match', class: 'btn btn-warning jCancel', data: cancel_data, disabled: !@decision.editable?

= content_for :page_js do
  :javascript
    new App.Matches.ActionNav('.jMatchHeader')
