- other_active_count = @decision.match.opportunity_related_matches.active.count
- if other_active_count.positive?
  .mb-6
    %p
      = Translation.translate('Do you expect this client to be successful in this match?')
      %br
      = "Mark this step as likely to succeed, and cancel #{pluralize(other_active_count, 'other match')}:"

    %button{class: 'btn btn-warning mb-1', data: {submit_param_name: 'decision[status]', submit_param_value: 'other_clients_canceled', confirm: "Canceling #{pluralize(other_active_count, 'other match')}!  This will notify everyone invloved in the other matches that the vacancy is no longer available.  Would you like to proceed?"}, disabled: !@decision.editable?}
      %i.icon-checkmark
      = "Cancel #{pluralize(other_active_count, 'other match')}!"

  %hr
- if has_unit?
  %p
    Please confirm the client's building and unit.
    .form-inputs
      .building-and-unit
        = form.input :building_id, collection: Building.all, selected: default_building_id , label: 'Building', disabled: !@decision.editable?, input_html: {class: 'building', notification_id: notification_id}
        = form.input :unit_id, collection: candidate_units, selected: default_unit_id, label: 'Unit', disabled: !@decision.editable?,
          input_html: {class: 'unit', data: {dependent: true, url: '/buildings/:id/available_move_in_units.json', 'value-method' => :id, 'label-method' => :name, default_parent_id: default_building_id, default_value: default_unit_id, default_label: default_unit_name}}
  %hr
%div
  %p
    Please record the date the client moved in.
  .row
    .col-md-6
      = form.input :client_move_in_date, label: Translation.translate('Lease start date'), as: :date_picker, disabled: !@decision.editable?
  .form-inputs
    = form.input :note, as: :text, input_html: {rows: 4, disabled: !@decision.editable?}
  %p
    = "#{Translation.translate('DND')} and the #{Translation.translate('Shelter Agency')} contact will receive notification of the housing date."
  - if @decision.show_referral_source?
    = form.input :external_software_used, label: Translation.translate('Did you or this client use external software to help with housing?'), as: :boolean, disabled: !@decision.editable?
  - if @decision.show_address_field? && !has_unit?
    = form.input :address, label: Translation.translate('Address of housing'), as: :text, disabled: !@decision.editable?
  = render 'match_decisions/continue_button', text: submit_label, icon: 'checkmark', button_attributes: { class: 'btn btn-success', data: {submit_param_name: 'decision[status]', submit_param_value: 'completed'}, disabled: !@decision.editable? }
= content_for :page_js do
  :javascript
    $('select').select2();
    $('.building-and-unit').on('change', '.building', function() {
      var parent = this.id;
      var id = this.value;
      var notification_id = this.getAttribute('notification_id');
      var prefix = '';
      if(notification_id !== null) {
        prefix = '/notifications/' + notification_id + '/';
      }
      var $child = $('.unit');
      var value_method = $child.data('value-method');
      var label_method = $child.data('label-method');
      var url = prefix + $child.data('url').replace(':id', id);
      $.get(url, function(data) {
        // remove previous options
        $child.children().remove();
        $.each(data, function(k,v){
          $child.append($('<option />').attr('value', v[value_method]).text(v[label_method]));
        });

        if($child.data('default-parent-id').id == id) {
          $child.append('<option value="' + $child.data('default-value') + '">' + $child.data('default-label') + '</option>');
          // restore the original value if still available
          $child.val($child.data('default-value'));
        }
      }, 'json');
    });
