.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-choose.o-choose--flush.o-choose--flush-top
        .o-choose__choice{class: [('o-choose__choice--disabled' if !@decision.editable?), ( 'o-choose__choice--100' unless can_reject_matches?)]}
          %header
            .o-choose__title
              .c-choice-icon.c-choice-icon--confirm.mr-4
              %h3 Continue Match
          .o-choose__content
            .form-group.jSelections
              .radio
                %label
                  = form.radio_button :status, :mitigation_not_required, checked: true
                  = _('Mitigation is not required')
              .radio
                %label
                  = form.radio_button :status, :mitigation_required, disabled: ! @decision.editable?, class: ''
                  = _('Mitigation required')
            .jMitigations.d-none
              = form.input :required_mitigations, as: :check_boxes, collection: MitigationReason.active
            .form-actions
              %button{class: 'btn btn-success jSubmit', disabled: !@decision.editable?}
                %i.icon-checkmark
                Continue Match

        - if can_reject_matches?
          = render 'match_decisions/cancel_actions', form: form
= content_for :page_js do
  :javascript
    $('.select2').select2();

    $('.jSelections input').on('change', function(){
      var action = 'addClass'
      if ($(this).val() === 'mitigation_required') {
        action = 'removeClass'
      }
      $('.jMitigations')[action]('d-none')
    });
    $('.jMitigations input:checked').trigger('change');