.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-pre-choose
        %p After contacting the client and obtaining client consent to proceed and all necessary paperwork submit this form to indicate acceptance of the match for all parties.
        = form.input :note, as: :text, input_html: {rows: 4, disabled: (!@decision.editable?)}
      .o-choose.o-choose--flush
        .o-choose__choice
          %header
            .o-choose__title
              .c-choice-icon.c-choice-icon--confirm.mr-4
              %h3 Accept Match
          .o-choose__content
            - if has_unit?
              %p
                Please confirm the client's building and unit.
                .form-inputs
                  .building-and-unit
                    = form.input :building_id, collection: Building.all, selected: default_building_id , label: 'Building', disabled: !@decision.editable?, input_html: {class: 'building', notification_id: notification_id}
                    = form.input :unit_id, collection: candidate_units, selected: default_unit_id, label: 'Unit', disabled: !@decision.editable?,
                      input_html: {class: 'unit', data: {dependent: true, url: '/buildings/:id/available_move_in_units.json', 'value-method' => :id, 'label-method' => :name, default_parent_id: default_building_id, default_value: default_unit_id, default_label: default_unit_name}}
            %p
              %i.icon-info
              If accepted, all involved parties will be notified.

            = form.submit 'Accept Match', class: 'btn btn-success jAccept', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted'}, disabled: (!@decision.editable?)

        = render 'match_decisions/decline_and_cancel_backup_actions', form: form, action_message: 'If the match is declined, the DND will be informed of the decision.'

= content_for :page_js do
  :javascript
    $('select').select2();
    $('.building-and-unit').on('change', '.building', function() {
      var parent = this.id;
      var id = this.value;
      var notification_id = this.getAttribute('notification_id');
      var prefix = '';
      if(notification_id !== null) {
        prefix = '/notifications/' + notification_id + '/';
      }
      var $child = $('.unit');
      var value_method = $child.data('value-method');
      var label_method = $child.data('label-method');
      var url = prefix + $child.data('url').replace(':id', id);
      $.get(url, function(data) {
        // remove previous options
        $child.children().remove();
        $.each(data, function(k,v){
          $child.append($('<option />').attr('value', v[value_method]).text(v[label_method]));
        });

        if($child.data('default-parent-id').id == id) {
          $child.append('<option value="' + $child.data('default-value') + '">' + $child.data('default-label') + '</option>');
          // restore the original value if still available
          $child.val($child.data('default-value'));
        }
      }, 'json');
    });