-# confirmation_text = 'By clicking 'OK' you are confirming that you have spoken to the client regarding this specific housing opportunity and that the client understands the opportunity and has stated their interest.  You are also confirming that, except for special cases confirmed by the Coordinated Access Manager, you have submitted a CORI release form that has been signed by the client. \n\n For clients who only have a Limited CAS Release you are agreeing to refer to their match number and not their name when speaking with the Supportive Service Provider, Housing Subsidy Administrator, and/or Housing Search Provider. You may refer to them by name once a release has been signed. \n\n By clicking 'OK' you are verifying that you are acting in accordance with the Boston HMIS Policies and Procedures found in the HMIS Handbook and in agreement with your signed HMIS User Agreement on file at your agency. Any violations may lead to user access termination and/or eventual employment termination. \n\n If any of the steps above still need to be completed, please click 'cancel'.'
.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      - if @decision.status.to_s == 'pending' && access_context.acknowledge_shelter_agency_notification?
        %div{data: {acknowledge_href: access_context.match_decision_acknowledgment_path(@match, @decision)}}
        %button{class: 'btn btn-success', data: {submit_param_name: 'decision[status]', submit_param_value: 'acknowledged'}, disabled: !(@decision.editable?)}
          %i.icon-checkmark
          Acknowledge Receipt of Match Details


      - else
        .o-pre-choose
          = render 'match_decisions/shelter_agency_expiration', form: form
          - if ! @match.shelter_expiration? || @match.shelter_expiration >= Date.today || can_reject_matches?
            .btn-group.btn-group-toggle.jActionToggle.mb-6.mt-4{data: {toggle: :buttons}}
              -# {'The client has been at your agency in the past two weeks': 'jStillWorking', 'The client has not been at your agency in the past two weeks': 'jNoLongerWorking'}.each do |title,key|
              - this_one = params[:working_with_client] == 'jStillWorking' || params[:working_with_client].blank?
              %label.btn.btn-light{class: this_one ? 'active' : ''}
                %input{type: :radio, name: :working_with_client, autocomplete: :off, checked: :checked, value: 'jStillWorking'}
                  The client has
                  %br.d-sm-none
                  been at your agency
                  %br
                  in the past two weeks
              - this_one = params[:working_with_client] == 'jNoLongerWorking'
              %label.btn.btn-light{class: this_one ? 'active' : ''}
                %input{type: :radio, name: :working_with_client, autocomplete: :off, value: 'jNoLongerWorking', checked: this_one}
                  The client has not
                  %br.d-sm-none
                  been at your agency
                  %br
                  in the past two weeks
              -# form.input :working_with_client, as: :radio_buttons, collection: {'The client has been at your agency in the past two weeks': 'jStillWorking', 'The client has not been at your agency in the past two weeks': 'jNoLongerWorking'}, label: 'Has the client above been at your agency recently?',  wrapper_class: 'jActionToggle'

            .o-choose.o-choose--flush
              .o-choose__choice.jNoLongerWorkingContent{ class: ( 'o-choose__choice--100' unless can_reject_matches?)}
                %header
                  .o-choose__title
                    .c-choice-icon.c-choice-icon--confirm.mr-4
                    %h3 Accept Match
                .o-choose__content
                  = render 'match_decisions/match_recommendation_shelter_agency_fields', form: form
              .o-choose__choice.jStillWorkingContent.d-none{ class: ( 'o-choose__choice--100' unless can_reject_matches?)}
                %header
                  .o-choose__title
                    .c-choice-icon.c-choice-icon--not-working
                    %h3 Not Working with Client
                .o-choose__content
                  = render 'match_decisions/not_working_match_form_fields', form: form

              - if can_reject_matches?
                = render 'match_decisions/decline_and_cancel_actions', form: form

= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')
    // $('.jActionToggle input').first().prop("checked", true)
    $('.jActionToggle input').on('change', function() {
      var value = $(this).val()
      var noLongerWorking = 'addClass'
      var stillWorking = 'removeClass'
      if (value == 'jStillWorking') {
        noLongerWorking = 'removeClass'
        stillWorking = 'addClass'
      }
      $('.jNoLongerWorkingContent')[noLongerWorking]('d-none')
      $('.jStillWorkingContent')[stillWorking]('d-none')
    });
    $('.jActionToggle input[name=working_with_client]:checked').trigger('change');
