= form.input :note, as: :text, hint: 'Please include any notes that would be useful for this match.  e.g. "Client needs an accessible unit."',input_html: {rows: 4, disabled: !(@decision.editable?)}

- if @match.client.release_of_information.blank? && @match.client.housing_release_status.blank? || @match.client.housing_release_status.downcase == 'none on file'
  = form.input :release_of_information, as: :boolean, required: true, inline_label: 'Client has signed release of information to share their data with network partners'
- elsif @match.client.release_of_information.present?
  %p
    Client signed release of information to share their data with network partners on
    %strong
      = @match.client.release_of_information.to_date
  = form.input :release_of_information, as: :hidden, input_html: { value: @match.client.release_of_information}
- else
  %p
    %strong
      = checkmark(true)
      Client provided a
      = _(@match.client.housing_release_status)

= form.input :client_spoken_with_services_agency, as: :boolean, required: true, inline_label: "Client has spoken to a #{_('shelter case manager')} and understands the services attached and the program requirements"
- if Config.get(:require_cori_release)
  = form.input :cori_release_form_submitted, as: :boolean, required: true, inline_label: 'Client has submitted a CORI release form'

%p
  The client does not need to be document-ready in order to indicate interest.
  %br
  = "When you indicate interest, notification will be sent to the #{_('Housing Subsidy Administrator')}. If the #{_('HSA')} has a release, #{_('they can proceed to determine whether a criminal background hearing is needed. You will be notified when they either accept the match or schedule a hearing.')}"

.form-actions
  %button{class: 'btn btn-success jNeedsToAgree', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted', toggle: 'modal', target: '#shelter-agency-modal'}, disabled: !(@decision.editable?)}
    %i.icon-checkmark
    Indicate Interest in Match


= render 'match_decisions/shelter_agency_agreement'
