.row
  .col-xs-12
    .match-decision
      .button-row
        %label.display-block * Add / Review Contacts for Match
        %div.hint.margin-bottom-01 This step is required
        = link_to edit_match_contacts_path(@match), class: 'btn btn-primary', data: {loads_in_pjax_modal: true} do
          %span.icon-plus
          Review Contacts for Match
        - if @decision.errors[:match_contacts].present?
          .requirement-warning
            %span.icon-warning
            = @decision.errors.full_messages_for(:match_contacts).join ". "
      .button-row
        = link_to 'View Alternate Clients Matched to this Opportunity', opportunity_alternate_matches_path(@match.opportunity), target: '_blank'
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        = form.input :note, as: :text, input_html: {rows: 4, disabled: (!@decision.editable?)}
        %label Optionally provide a date after which the match will be expired if it hasn't been accepted by a shelter agency contact
        .row
          .col-xs-4
            = form.input :shelter_expiration, as: :date_picker, label: false
        = render 'match_decisions/decline_reason', form: form
        - if can_reject_matches?
          .well
            = render 'match_decisions/park_client', form: form
        .row
          .col-sm-5
            - default_expiration_interval = Notifications::Base::EXPIRATION_INTERVAL
            = form.input :custom_expiration_length, label: 'Custom notification expiration length', collection: {"#{distance_of_time_in_words(default_expiration_interval)} (Default)": '', "#{distance_of_time_in_words(15.days)}": 14, "#{distance_of_time_in_words(22.days)}": 21}, selected: ''
        .form-actions.clearfix
          - @decision.errors[:status].each do |error_message|
            %p.error-block= error_message

          = form.submit 'Decline Match', class: 'btn btn-secondary', data: {submit_param_name: 'decision[status]', submit_param_value: 'declined'}, disabled: (!@decision.editable?)
          = form.submit 'Accept Match Recommendation', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted'}, disabled: (!@decision.editable?)