- if @decision.status.to_s == 'pending' && access_context.acknowledge_shelter_agency_notification?
  %div{data: {acknowledge_href: access_context.match_decision_acknowledgment_path(@match, @decision)}}
  %p Acknowledging Notification...
  = content_for :page_js do
    :javascript
      $(function (){
        var href = $('[data-acknowledge-href]').data('acknowledge-href');
        App.acknowledge_notification(href);
      });
- else
  .row
    .col-xs-12
      .match-decision
        = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
          = form.input :note, as: :text, input_html: {rows: 4, disabled: !(@decision.editable?)}
          
          = render 'match_decisions/decline_reason', form: form

          .row
            .col-sm-5
              = form.association :not_working_with_client_reason, collection: @decision.not_working_with_client_reasons, label: 'If you are no longer working with client, please indicate reason:', as: :check_boxes
              = form.input :not_working_with_client_reason_other_explanation, as: :text, label: false, placeholder: 'Other reason'
              = form.input :client_last_seen_date, label: 'When did you last see this client?', as: :date_picker, disabled: !@decision.editable?
              - if @match.client.release_of_information.blank?
                = form.input :release_of_information, as: :boolean, inline_label: 'Client has signed release of information to share their data with network partners'
              - else
                %p
                  Client signed release of information to share their data with network partners on 
                  %strong
                    = @match.client.release_of_information.to_date
                = form.input :release_of_information, as: :hidden, input_html: { value: @match.client.release_of_information}
   

          .form-actions.clearfix
            = form.submit 'Decline Match', class: 'btn btn-secondary', data: {submit_param_name: 'decision[status]', submit_param_value: 'declined'}, disabled: !(@decision.editable?)
            = form.submit 'Indicate Interest in Match', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted'}, disabled: !(@decision.editable?)
          
          %p
            The client does not need to be document-ready in order to indicate interest.
            %br
            When you indicate interest, notification will be sent to the Housing Subsidy Administrator. If the HSA has a release, they can proceed to determine whether a criminal background hearing is needed. You will be notified when they either accept the match or schedule a hearing.



= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')