- confirmation_text = "By clicking OK, you certify that you have obtained a signed Client Release of Information, the client has spoken to a shelter case manager and you have obtained a CORI release form from the client.  In addition, you have shared a signed Client Release of Information to all relevant parties in accordance with the BostonHMIS Policies and Procedures found in the BostonHMIS Handbook and in agreement with YOUR signed HMIS User Agreement on file at your Agency. &#x000A;&#x000A;Any violations may lead to user access termination and/or eventual employment termination. &#x000A;&#x000A;If this is not the case, click cancel.".html_safe
.row
  .col-xs-12
    .match-decision
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        - if @decision.status.to_s == 'pending' && access_context.acknowledge_shelter_agency_notification?
          %div{data: {acknowledge_href: access_context.match_decision_acknowledgment_path(@match, @decision)}}
          = form.submit 'Acknowledge Receipt of Match Details', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'acknowledged'}, disabled: !(@decision.editable?) 
        - else
          - if @match.shelter_expiration?
            - if can_reject_matches?
              = render 'match_decisions/shelter_agency_expiration', form: form
            - if @match.shelter_expiration > Date.today
              %p
                This match will expire if the client has not expressed interest in the match before
                %strong= "#{@match.shelter_expiration}."
              = render 'match_decisions/match_recommendation_shelter_agency_fields', form: form, confirmation_text: confirmation_text
            - else
              %p 
                This match expired on
                %strong= "#{@match.shelter_expiration}."
              - if can_reject_matches?
                .well
                  = render 'match_decisions/park_client', form: form
                  = render 'match_decisions/cancel_match_form_fields', form: form
          - else
            = render 'match_decisions/shelter_agency_expiration', form: form
            = render 'match_decisions/match_recommendation_shelter_agency_fields', form: form, confirmation_text: confirmation_text
          



= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')