- confirmation_text = "By clicking OK, you certify that you have obtained a signed Client Release of Information, the client has spoken to a shelter case manager and you have obtained a CORI release form from the client.  In addition, you have shared a signed Client Release of Information to all relevant parties in accordance with the BostonHMIS Policies and Procedures found in the BostonHMIS Handbook and in agreement with YOUR signed HMIS User Agreement on file at your Agency. &#x000A;&#x000A;Any violations may lead to user access termination and/or eventual employment termination. &#x000A;&#x000A;If this is not the case, click cancel.".html_safe
.row
  .col-xs-12
    .match-decision
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        - if @decision.status.to_s == 'pending' && access_context.acknowledge_shelter_agency_notification?
          %div{data: {acknowledge_href: access_context.match_decision_acknowledgment_path(@match, @decision)}}
          = form.submit 'Acknowledge Receipt of Match Details', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'acknowledged'}, disabled: !(@decision.editable?) 
        - else
          = form.input :working_with_client, as: :radio_buttons, collection: {'The client has been at your agency in the past two weeks': 'jStillWorking', 'The client has not been at your agency in the past two weeks': 'jNoLongerWorking'}, label: 'Has the client above been at your agency recently?',  wrapper_class: 'jSectionToggle', wrapper_html: {data: {target: 'jWorkingWithClient'}}
          .jStillWorking.jWorkingWithClient
            = form.input :note, as: :text, hint: 'Please include any notes that would be useful for this match.  e.g. "Client needs an accessible unit."',input_html: {rows: 4, disabled: !(@decision.editable?)}
              
            = render 'match_decisions/decline_reason', form: form

            .row
              .col-sm-5
                - if @match.client.release_of_information.blank?
                  = form.input :release_of_information, as: :boolean, required: true, inline_label: 'Client has signed release of information to share their data with network partners'
                - else
                  %p
                    Client signed release of information to share their data with network partners on 
                    %strong
                      = @match.client.release_of_information.to_date
                  = form.input :release_of_information, as: :hidden, input_html: { value: @match.client.release_of_information}
                = form.input :client_spoken_with_services_agency, as: :boolean, required: true, inline_label: 'Client has spoken to shelter case manager and understands the services attached and the program requirements'
                = form.input :cori_release_form_submitted, as: :boolean, required: true, inline_label: 'Client has submitted a CORI release form'
     
            .form-actions.clearfix
              = form.submit 'Decline Match', class: 'btn btn-secondary', data: {submit_param_name: 'decision[status]', submit_param_value: 'declined'}, disabled: !(@decision.editable?)
              = form.submit 'Indicate Interest in Match', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'accepted', confirm: confirmation_text}, disabled: !(@decision.editable?)
            
            %p
              The client does not need to be document-ready in order to indicate interest.
              %br
              When you indicate interest, notification will be sent to the Housing Subsidy Administrator. If the HSA has a release, they can proceed to determine whether a criminal background hearing is needed. You will be notified when they either accept the match or schedule a hearing.
          .jNoLongerWorking.jWorkingWithClient
            .row
              .col-sm-5
                = form.association :not_working_with_client_reason, collection: @decision.not_working_with_client_reasons, label: 'If you are no longer working with client, please indicate reason:', as: :check_boxes
                = form.input :not_working_with_client_reason_other_explanation, as: :text, label: false, placeholder: 'Other reason'
                = form.input :client_last_seen_date, label: 'When did you last see this client?', as: :date_picker, disabled: !@decision.editable?
            .form-actions.clearfix
              - if can_reject_matches?
                = render 'match_decisions/park_client', form: form
                = render 'match_decisions/cancel_match_form_fields', form: form
              = form.submit 'Not Working with Client', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'not_working_with_client'}, disabled: !(@decision.editable?)



= content_for :page_js do
  :javascript
    new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[not_working_with_client_reason_id][]')