.match-decision.c-card.c-card--flush.card--block
  .c-card__content
    = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
      .o-choose.o-choose--flush.o-choose
        - if @decision.accessible_by?(current_contact)
          .o-choose__choice{class: [('o-choose__choice--disabled' if !@decision.editable?)]}
            %header
              .o-choose__title
                .c-choice-icon.c-choice-icon--confirm.mr-4
                %h3 Continue Match
            .o-choose__content
              %p Using the following button, please add the Case Manager for this match process under the #{_('Stabilization Service Provider Nine')} category.
              = link_to access_context.edit_match_contacts_path(@match), data: {loads_in_pjax_modal: true}, class: [:btn, 'btn-primary'] do
                %span.icon-pencil
                Assign Case Manager Contact
              %p.mt-4 Once the contact has been assigned, click the Continue Match button below.
              = render 'match_decisions/continue_button', text: 'Continue Match', icon: 'checkmark', button_attributes: { class: 'btn btn-success jAccept', data: {submit_param_name: 'decision[status]', submit_param_value: 'completed'}, disabled: (!@decision.editable?) }
          - action_message ||= ''
          - include_other = true unless include_other === false

          .o-choose__choice
            %header.jMatchHeader
              %ul.o-choose__nav.nav.jMatchActionNav
                = render 'match_decisions/cancel_tab', active_tab: 'active'
                = render 'match_decisions/park_tab'
                = render 'match_decisions/backup_tab'

            .o-choose__content
              .tab-content
                - cancel_data = {submit_param_name: 'decision[status]', submit_param_value: 'canceled'}
                = render 'match_decisions/cancel_tab_content', form: form, cancel_data: cancel_data, include_other: include_other, active_tab: 'active'
                = render 'match_decisions/park_tab_content', form: form, cancel_data: cancel_data
                = render 'match_decisions/backup_tab_content', form: form, cancel_data: cancel_data

          = content_for :page_js do
            :javascript
              new window.App.SingleOptionCheckboxes( $('form.edit_decision')[0], 'decision[administrative_cancel_reason_id][]')
              new window.App.Matches.Decline($('.jCancelReason input[type=checkbox]'),$('.jOtherCancelReason'));

          = render 'match_decisions/cancel_and_park_js'

= render 'init_select2'
