.row
  .col-xs-12
    .match-decision
      %p
        Please record the date the client moved in.
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        .form-group
          .row
            .col-xs-5
              = form.input :client_move_in_date, label: 'Lease start date', as: :date_picker, disabled: !@decision.editable?
              
        .row
          .col-sm-8
            .row.form-inputs
              .col-xs-12
                = form.input :note, as: :text, input_html: {rows: 4, disabled: !@decision.editable?}

        .form-actions.clearfix
          - if can_reject_matches?
            .well
              = render 'match_decisions/park_client', form: form
              = render 'match_decisions/cancel_match_form_fields', form: form
          = form.submit 'Submit', class: 'btn btn-primary', data: {submit_param_name: 'decision[status]', submit_param_value: 'completed'}, disabled: !@decision.editable?

        %p DND and the Shelter Agency contact will receive notification of the housing date.
