.row
  .col-xs-12
    .match-decision
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        .radio
          %label
            = form.radio_button :status, :scheduled, disabled: !@decision.editable?
            Yes, there will be a criminal background hearing
        .row
          .form-group.form-group__indented-01
            %label(for="decision_criminal_hearing_date") Date of Criminal Background Hearing
          .col-md-3.col-sm-6
            .form-group.form-group__indented-01
              = form.input :criminal_hearing_date, label: false, as: :date_picker, disabled: !@decision.editable?

        .form-group
          .radio
            %label
              = form.radio_button :status, :no_hearing
              No, there will not be a criminal background hearing
        
        
        
        = form.input :note, as: :text, input_html: {rows: 4, disabled: !@decision.editable?}


        .form-actions.clearfix
          = form.submit 'Submit', class: 'btn btn-primary', disabled: !@decision.editable?

        %p
          Contacts associated with this match will receive a notification of this submission. The next step will be your decision whether or not to accept the match.

