.row
  .col-xs-12
    .match-decision
      = simple_form_for @decision, url: access_context.match_decision_path(@match, @decision) do |form|
        .radio
          %label
            = form.radio_button :status, :scheduled, disabled: !@decision.editable?
            Yes, there will be a criminal background hearing
        .row
          .form-group.form-group__indented-01
            %label(for="decision_criminal_hearing_date") Date and time of Criminal Background Hearing
          .col-md-6.col-sm-6
            .form-group.form-group__indented-01
              = form.input :criminal_hearing_date, as: :string, label: false, disabled: !@decision.editable?, input_html: {class: :date_time_picker, style: 'width: 15em;'}

        .form-group
          .radio
            %label
              = form.radio_button :status, :no_hearing
              No, there will not be a criminal background hearing
        
        
        
        = form.input :note, as: :text, input_html: {rows: 4, disabled: !@decision.editable?}


        .form-actions.clearfix
          - if can_reject_matches?
            .well
              = render 'match_decisions/park_client', form: form
              = render 'match_decisions/cancel_match_form_fields', form: form
          = form.submit 'Submit', class: 'btn btn-primary', disabled: !@decision.editable?

        %p
          Contacts associated with this match will receive a notification of this submission. The next step will be your decision whether or not to accept the match.
= content_for :page_js do
  :javascript
    $('.date_time_picker').datetimepicker({
      sideBySide: true,
      stepping: 15,
      minDate: new Date(),
      format: "MMM D, YYYY h:mm a"
    });
