= render 'breadcrumbs'

.o-page
  .o-page__title
    %h1 Edit Sub-Program
    .ml-auto
      = render 'status_blocks'

  = render 'tab_navigation', active: 'edit'

  = render 'program_details'

  = render 'form'
