.o-page__title
  %h1= t '.title'
  - if can_edit_contacts?
    = link_to new_contact_path, class: 'btn btn-primary ml-auto' do
      %span.icon-plus
      Add a Contact

- @prompt = t '.search_prompt'
.row
  .col-sm-4
    = render 'search_form'
:ruby
  columns = ['last_name', 'first_name', 'middle_name', 'email', 'phone', 'role']
  directions = current_sort_order(Hash[columns.map {|x| [x, nil]}])
  titles = {}
  directions.each {| k,v | titles[k] = @contacts.human_attribute_name(k)}
.row.table-utilities
  .col-sm-8
    %p= page_entries_info @contacts

.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed.table-hover
        %thead
          %tr
            - titles.each do | k, title |
              %th
                = manual_sort_link(titles[k], k, directions)
                %i{:class => ["fa", "fa-sort-#{directions[k]}"] }
            %th Matches
            %th Edit
        %tbody
          - @contacts.each do |c|
            %tr
              %td
                = link_to edit_contact_path(c) do
                  = c.last_name
              %td
                = link_to edit_contact_path(c) do
                  = c.first_name
              %td
                = link_to edit_contact_path(c) do
                  = c.middle_name
              %td= mail_to c.email, nil, target: '_blank'
              %td= c.phone
              %td= c.role
              %td.text-center= c.client_opportunity_match_contacts.count
              %td
                = link_to 'Edit', edit_contact_path(c)

    %p= paginate @contacts
