- @assessment.class.form_fields.each do |field_name, options|
  .c-question{data: { number: options[:number] }}
    .c-question__wrapper
      - if options[:questions].present?
        .c-question__number= options[:number]
        .c-question__input
          - if disabled
            = render 'non_hmis_clients/assessments/question_display', label: options[:label], value: ''
            - options[:questions].each do |sub_field_name, sub_options|
              - val = @assessment[sub_field_name]
              - if val.is_a?(Array)
                - val = sub_options[:collection].invert.values_at(*val)
              = render 'non_hmis_clients/assessments/question_display', label: sub_options[:label], value: val
          - else
            %label= options[:label]
            - options[:questions].each do |sub_field_name, sub_options|
              .mb-1
                - if sub_options[:label] && sub_options[:as].present?
                  = form.label sub_field_name, { label: sub_options[:label] }
                = form.input(sub_field_name, {}.merge(sub_options))
      - elsif options[:as] == :pretty_boolean_group
        .c-question__number= options[:number]
        - if disabled
          - val = @assessment[field_name]
          - if val.is_a?(Array)
            - val = options[:collection].invert.values_at(*val)
          = render 'non_hmis_clients/assessments/question_display', label: options[:label], value: val
        - else
          .c-question__input
            = form.label field_name, { pre_label: options[:number] }.merge(options)
            = form.input field_name, collection: options[:collection], label: false, as: :pretty_boolean_group, wrapper: :custom_boolean, input_html: options[:input_html]
      - else
        .c-question__number= options[:number]
        - if disabled
          - val = @assessment[field_name]
          - if val.is_a?(Array)
            - val = options[:collection].invert.values_at(*val)
          = render 'non_hmis_clients/assessments/question_display', label: options[:label], value: val
        - else
          .c-question__input
            - if options[:as] == :pretty_boolean
              = form.input(field_name, {}.merge(options))
            - else
              = form.input(field_name, { pre_label: options[:number] }.merge(options))

= render 'non_hmis_clients/assessments/covid_js'
