%section
  .c-card.c-card--flush
    .c-card__content.p-0
      .o-pre-table-actions.o-pre-table-actions--light
        %h2.o-pre-table-actions__heading Assessments
        .o-pre-table-actions__group.ml-auto
          = link_to new_assessment_deidentified_client_path(@non_hmis_client.id), class: 'btn btn-sm btn-secondary' do
            %span.icon-plus
            Add New Assessment
      - if @assessments.any?
        %table.table
          %thead
            %tr
              %td Date Taken
              %td Score
          %tbody
            - @assessments.each do |assessment|
              %tr{data: {href: send("#{client_type}_client_path", @non_hmis_client, {assessment_id: assessment})}}
                %td
                  = link_to assessment.created_at, polymorphic_path([client_type, 'client'],assessment_id: assessment )
                %td
                  - if assessment&.assessment_score&.zero?
                    0 – Ineligible
                  - else
                    = assessment.assessment_score
      - else
        .p-4
          %p.o-text--italic Client currently has no assessments
          = link_to new_assessment_deidentified_client_path(@non_hmis_client.id), class: 'btn btn-sm btn-secondary' do
            %span.icon-plus
            Add New Assessment
