.row
  .col-sm-8
    = simple_form_for [@building] do |f|
      = f.error_notification
      - disabled = false
      - hint = ''
      .form-inputs
        = f.input :name, disabled: disabled, hint: hint
        = f.input :building_type, disabled: disabled
        = f.input :address, disabled: disabled
        = f.input :city, disabled: disabled
        = f.input :state, disabled: disabled
        = f.input :zip_code, disabled: disabled
        = f.association :subgrantee, label_method: :name, disabled: disabled

        = render 'service_manager/form_fields', form: f, heading: "Services Attached to this #{Building.model_name.human}"

        = render 'requirement_manager/form_fields', form: f, selected_requirements_heading: "Rules for this #{Building.model_name.human}"

      - if @building.persisted?
        .c-card.c-card--flush.my-8
          %h3 Attributes
          .c-card__content.p-0.pb-4
            = render 'housing_attributes/attributes', housing_object: @building, mode: mode, heading: ''

        .c-card.c-card--flush.my-8
          %h3= _('Photos and Videos')
          .c-card__content.p-0.pb-4
            = render 'housing_media_links/links', housing_object: @building, mode: mode, heading: ''

      .form-actions
        = f.button :submit

    = content_for :page_js do
      :javascript
        $('.services select, .building_subgrantee select').select2();
