.d-flex.justify-content-end
  - if can_add_vacancies?
    = link_to new_opportunity_path, class: 'btn btn-primary pull-right margin-bottom-02' do
      %span.icon-plus
      Submit a Vacancy

- if show_match_status_facet_nav?
  %ul.nav.nav-tabs
    %li.nav-item{role: "presentation", class: ('active' if controller_path == 'active_matches')}
      = link_to 'Matches in Progress', active_matches_path, class: 'nav-link'
    %li.nav-item{role: "presentation", class: ('active' if controller_path == 'closed_matches')}
      = link_to 'Closed Matches', closed_matches_path, class: 'nav-link'

.row
  .col-sm-12
    %h1= @heading
    = render 'help_text'
  - @prompt = t '.search_prompt'

.row
  .col-sm-4
    = render 'search_form', tooltip: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results'

  .col-sm-8.sort-filter.d-flex
    = render 'filter', available_steps: @available_steps, return_path: active_matches_path, label_method: :active, available_routes: @available_routes
    = render 'sort', sort_options: @sort_options
    = render 'show_confidential_names'

.row
  .col-sm-4
    %p= page_entries_info @matches
  .col-sm-4
    %p.client__current-sort-filter
      Currently sorted by:
      %strong= @sort_options.select{|m| m[:column] == @column && m[:direction] == @direction}.first[:title]

%p= paginate @matches, params: {sort: @column, direction: @direction}
= render 'matches/list', matches: @matches, match_type: 'active'
%p= paginate @matches, params: {sort: @column, direction: @direction}
