- sort_options = ClientOpportunityMatch.sort_options
.row
  .col-sm-4.col-sm-offset-8
    - if can_add_vacancies?
      = link_to new_opportunity_path, class: 'btn btn-primary pull-right margin-bottom-02' do
        %span.icon-plus
        Submit a Vacancy
  
- if show_match_status_facet_nav?
  .row

    %ul.nav.nav-tabs
      %li{role: "presentation", class: ('active' if controller_path == 'active_matches')}
        = link_to 'Matches in Progress', active_matches_path
      %li{role: "presentation", class: ('active' if controller_path == 'closed_matches')}
        = link_to 'Closed Matches', closed_matches_path

.row
  .col-sm-12
    %h1= @heading
    = render 'help_text'
  - @prompt = t '.search_prompt'
.row
  .col-sm-6
    = render 'search_form', tooltip: 'Search with PersonalID or full or partial "first last" or "last, first" for more specific results'
  .col-sm-6.sort-filter      
    = render 'filter', available_steps: MatchDecisions::Base.filter_options, return_path: active_matches_path, label_method: :active
    = render 'sort', sort_options: sort_options
    = render 'show_confidential_names'
.row
  .col-sm-4
    %p= page_entries_info @matches
  .col-sm-4
    %p.client__current-sort-filter
      Currently sorted by:
      %strong= sort_options.select{|m| m[:column] == @column && m[:direction] == @direction}.first[:title]
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th Client
            %th First Homeless Night
            %th Last Changed
            %th Current Step
            %th Initial Match Date
            %th Initial Acceptance Expiration Date
            %th Program
            %th Sub-Program
            %th Funding Source &amp; Service Provider
            - if show_links_to_matches?
              %th
            - if can_see_alternate_matches?
              %th Alternate Matches
        %tbody
          - @matches.each do |match|
            - hide_client_name = match.confidential? && ! params[:confidential_override]
            %tr
              %td
                - if match.client.accessible_by_user? current_user
                  = link_to client_path(match.client) do
                    = match.client_name_for_contact current_contact, hidden: hide_client_name
                - else
                  = match.client_name_for_contact current_contact, hidden: hide_client_name
              %td
                = match.client.calculated_first_homeless_night.try(:strftime, I18n.t('date.formats.default'))
              %td= match.current_decision.updated_at.to_date.strftime(I18n.t('date.formats.default'))
              %td    
                .match-progress-bar
                  %ol.progress{"data-steps" => "6"}
                    %li.done
                      %span.name 
                      %span.step
                        %span 1
                    %li.done
                      %span.name 
                      %span.step
                        %span 2
                    %li.active
                      %span.name 
                      %span.step
                        %span 3
                    %li
                      %span.name 
                      %span.step
                        %span 4
                    %li
                      %span.name 
                      %span.step
                        %span 5
                    %li
                      %span.name 
                      %span.step
                        %span 6
                = match.current_step_name || match.overall_status
              %td= match.created_at.try(:strftime, I18n.t('date.formats.default'))
              %td
                - if match.current_decision.type == 'MatchDecisions::MatchRecommendationShelterAgency'
                  = match.shelter_expiration.try(:strftime, I18n.t('date.formats.default'))
              %td= match.opportunity_details.program_name
              %td= match.opportunity_details.sub_program_name
              %td= match.opportunity_details.organizations
              - if show_links_to_matches?
                %td
                  = link_to 'View / Update Match', match_path(match)
              - if can_see_alternate_matches?
                %td.text-center
                  = link_to opportunity_matches_path(match.opportunity) do
                    .badge.badge-success= match.opportunity_related_matches.count

    %p= paginate @matches, params: {sort: @column, direction: @direction}
