.d-flex
  %h1= t '.title'
  = link_to new_funding_source_path, class: 'btn btn-sm btn-primary ml-auto mb-auto' do
    %span.icon-plus
    Add a Funding Source
%p= page_entries_info @funding_sources

- @prompt = t '.search_prompt'
.row
  .col-sm-6
    = render 'search_form'

.table-responsive
  .c-card.c.card__flush.mb-4
    .c-card__content.p-0
      %table.table.table-striped.mb-0
        - @funding_sources.each do |funding_source|
          %tr
            %td= funding_source.name
            %td
              = link_to edit_funding_source_path(funding_source), class: 'btn btn-sm btn-secondary' do
                %span.icon-pencil
                Edit Rules / Services
%p= paginate @funding_sources
