= render 'reports/crumbs_operational'
= render 'reports/dashboards/tabs', active: 'overview'

.c-card
  .c-card__content
    = render 'reports/dashboards/report_filter', path: reports_dashboards_overviews_path

.row
  .col.text-center
    %h4
      = link_to pluralize(@report.in_progress.current_step.count, 'match'),  details_reports_dashboards_overviews_path(details_params.merge(section: :in_progress)), target: '_blank'
      currently in progress

.row.mt-4
  .col-6.text-center
    %h2 Match Status
    = render 'match_status'

  .col-6.text-center
    %h2 Unsuccessful Reasons
    = render 'reasons'

