= render 'reports/crumbs_operational'
= render 'reports/dashboards/tabs', active: 'overview'
= simple_form_for :filter, method: :get do |f|
  = render 'reports/dashboards/report_filter', form: f

  = f.submit 'Update Dashboard', class: 'btn btn-primary'

.row
  .col.text-center
    %h4
      = link_to "#{@report.in_progress.count}",  details_reports_dashboards_overviews_path(details_params.merge(section: :in_progress)), data: {loads_in_pjax_modal: true}
      matches currently in progress

.row
  .col-6
    %h2 Match Results for Selected Timeframe
    %dl
    - @report.match_results.each do |label, results|
      %dt #{label}
      %dd= link_to "#{results.count}", details_reports_dashboards_overviews_path(details_params.merge(section: :match_results, key: "#{label}")), data: {loads_in_pjax_modal: true}
  .col-6
    %h2 Match Results by Quarter of Match End
    - @report.match_results_by_quarter.each do |quarter, results|
      %h4 #{quarter}:
      %dl
      - results.each do |label, results|
        %dt #{label}
        %dd= link_to "#{results.count}", details_reports_dashboards_overviews_path(details_params.merge(section: :match_results_by_quarter, key: "#{quarter}", sub_key: "#{label}")), data: {loads_in_pjax_modal: true}

%h2 Unsuccessful Match Reasons
.row
  .col-4
    %table.table
      %thead
        %th Reason
        %th Number of Matches
        %th Percentage
      %tbody
        - @report.unsuccessful_match_reasons.group_by { |r| r[:reason] }.sort_by{|k,v| v.count}.reverse.each do |reason, matches|
          %tr
            %td= reason
            - count = matches.count
            %td= count
            %td= count * 100 / @report.total_unsuccessful_matches
  .col-4
    %table.table
      %thead
        %th Actor Type
        %th Reasons
        %th Number of Matches
        %th Percentage
      %tbody
        - @report.unsuccessful_match_reasons.group_by { |r| r[:actor_type] }.sort_by{|k,v| v.count}.reverse.each do |actor_type, matches|
          %tr
            %td= actor_type
            %td
              %ul.list-unstyled
                - matches.group_by { |r| r[:reason] }.keys.each do |reason|
                  %li= reason
            - count = matches.count
            %td= count
            %td= count * 100 / @report.total_unsuccessful_matches
  .col-4
    %table.table
      %thead
        %th Step Name
        %th Reasons
        %th Number of Matches
        %th Percentage
      %tbody
        - @report.unsuccessful_match_reasons.group_by { |r| r[:step_name] }.sort_by{|k,v| v.count}.reverse.each do |actor_type, matches|
          %tr
            %td= actor_type
            %td
              %ul.list-unstyled
                - matches.group_by { |r| r[:reason] }.keys.each do |reason|
                  %li= reason
            - count = matches.count
            %td= count
            %td= count * 100 / @report.total_unsuccessful_matches