= render 'reports/crumbs_operational'
= render 'reports/dashboards/tabs', active: 'overview'

.c-card
  .c-card__content
    = render 'reports/dashboards/report_filter', path: reports_dashboards_overviews_path
.row
  .col-6
    .c-card
      .c-card__header
        %h2 All Matches
      .c-card__content= render 'match_status'

      = render 'success'
      = render 'steps'

  .col-6
    .c-card
      .c-card__header
        %h2 Unsuccessful Matches
      .c-card__content= render 'reasons'
    - if @report.show_quarters?
      = render 'quarters'
