.row
  .col-sm-8
    = simple_form_for @tag do |f|
      = f.error_notification
      .form-inputs
        = f.input :name
        - if @tag.on_cohort?
          %p.o-color--warning.icon-warning
            Tag is associated with a cohort in the Warehouse
        - if ! @tag.on_cohort? || @tag.rrh_assessment_trigger
          = f.input :rrh_assessment_trigger, label: _('Should this tag be added to anyone with an assessment score?')

      .form_actions
      = f.button :submit