= render 'menus/admin_tabs'
- title = "Agencies"
- content_for :title, title

= content_for :crumbs do
  = link_to admin_users_path do
    &laquo; Manage User Accounts

.o-page
  .o-page__title
    %h1= content_for :title
    .o-page__action.o-page__action--stacked
      = link_to new_admin_agency_path, class: 'btn btn-primary pull-right margin-bottom-02' do
        %span.icon-plus
        Add an Agency

  .row
    .col-sm-12
      - @prompt = "Search agencies..."
      .row
        .col-sm-6
          = render 'search_form'
  .row
    .col-sm-8
      %p= page_entries_info @agencies

  .table-responsive
    .c-card.c.card__flush.mb-4
      .c-card__content.p-0
        %table.table.table-striped.mb-0
          %thead
            %tr
              %th
                Name
              %th
                Programs
              %th
              %th
          %tbody
            - @agencies.each do |agency|
              %tr
                %td
                  = agency.name
                %td
                  = agency.program_names
                %td
                  = link_to edit_admin_agency_path(agency), class: ['btn', 'btn-sm', 'btn-secondary'] do
                    %span.icon-pencil
                    Edit
                %td
                  - unless agency.users.count > 0
                    = link_to admin_agency_path(agency),  method: :delete, data: {confirm: "Would you really like to delete the agency #{agency.name}?"}, class: ['btn', 'btn-sm', 'btn-danger'] do
                      %span.icon-cross
                      Delete
      %p= paginate @agencies
