= render '/clients/breadcrumbs'
.row
  .col-sm-12
    %h1= @heading
.row
  .col-sm-12
    = render '/clients/tab_navigation', active: 'matches', client_id: params[:client_id]

.row
  .col-sm-12
    = render 'help_text'
.row
  .col-sm-12
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            %th Current Step
            %th Initial Match Date
            %th Program
            %th Sub-Program
            %th Funding Source &amp; Service Provider
            %th Details
        %tbody
          - @matches.each do |match|
            %tr
              %td= match.current_step_name || match.overall_status[:name]
              %td= match.created_at.try(:strftime, I18n.t('date.formats.default'))
              %td
                = link_to match.opportunity_details.program_name, edit_program_sub_program_path(match.opportunity_details.sub_program.program, match.opportunity_details.sub_program)
              %td= match.opportunity_details.sub_program_name
              %td= match.opportunity_details.organizations
              - if show_links_to_matches?
                %td
                  = link_to 'View / Update Match', match_path(match)

    %p= paginate @matches
