.c-card.c-card-flush
  .c-card__content
    %p= page_entries_info @matches
    %p= paginate @matches    
    %table.table.table-striped
      %thead
        %tr
          %th Client Name
          %th.text-center= priority_label
          %th.text-center Other Active Matches
          %th.text-center Activate Match?
      %tbody
        - @matches.each do |client|
          - hide_client_name = (client.confidential? || client.active_in_match.try(:confidential?)) && ! params[:confidential_override]
          - if hide_client_name
            - name = "(name hidden)"
          - else
            - name = client.name
          - if active_client_ids.include?(client.id)
            %tr.client--match-active
              %td= link_to name, client_path(client)
              %td.text-center= priority_value(client)
              %td.text-center= checkmark(client.active_in_match?)
              %td.text-center= link_to 'Current Active Match', match_path(match)
          - else
            %tr
              %td= link_to name, client_path(client)
              %td.text-center= priority_value(client)
              %td.text-center= checkmark(client.active_in_match?)
              - match_warning = "Activating this match will cancel all other active matches for #{client.name}."
              - if active_match.present?
                - text = 'Activate Match Canceling Current'
                - match_warning += " In addition, it will cancel this match involving #{active_match.client.name}."
              - else
                - text = 'Activate Match'

              %td.text-center= link_to text, opportunity_match_path(@opportunity, client), class: 'btn btn-light mb-2', method: :patch, data: {confirm: match_warning}
    %p=paginate @matches