- if client.client_opportunity_matches.active.on_route(@opportunity.match_route).exists?
  - match_warning = "Activating this match will cancel all other active matches for #{client.name} on the #{@opportunity.match_route.title}."
- else
  - match_warning = ''
- if @opportunity.active_matches.exists? && @opportunity.active_matches.first.client.present?
  - text = 'Activate Match Canceling Current'
  - if match_warning.present?
    - match_warning += " In addition, it will cancel the current match involving #{@opportunity.active_matches.first.client.name}."
  - else
    - match_warning = "Activating this match will cancel the current match involving #{@opportunity.active_matches.first.client.name}."
- else
  - text = 'Activate Match'

%td.text-center= link_to text, opportunity_match_path(@opportunity, client), class: 'btn btn-light mb-2', method: :patch, data: {confirm: match_warning}