.d-flex
  %h1= @heading
  = render 'match_list_base/show_confidential_names'

.c-card.c-card-flush
  .c-card__content
    .c-detail-group.row
      .col-sm-6.c-detail-group.c-detail-group--stacked.c-detail-group--bordered
        = render 'matches/program_details', match: match
        = render 'matches/services', match: match
      .col-sm-6.c-detail-group.c-detail-group--stacked.c-detail-group
        = render 'matches/building_details', match: match
        = render 'requirements'