- match = active_match = @opportunity.active_matches.first
- active_client_ids = @opportunity.active_matches.pluck(:client_id)
= render 'match_details', match: match
= render 'tab_navigation', match: match

%p= paginate @matches
= render 'matches/list', matches: @matches, match_type: 'closed'
%p= paginate @matches