- match = active_match = @opportunity.active_match
- active_client_ids = if match.present? then [match.client_id] else [] end
= render 'match_details', match: match
= render 'tab_navigation', match: match

%p= paginate @matches
= render 'matches/list', matches: @matches, match_type: 'closed'
%p= paginate @matches