- match = @opportunity.active_matches.first
= render 'match_details', match: match
= render 'tab_navigation', match: match

%p= paginate @matches
= render 'matches/list', matches: @matches, match_type: 'closed'
%p= paginate @matches