%h3.detail-box--label 
  Client
  - unless match.client.has_full_housing_release?
    .limited-cas-release
      %span.icon-info.text-color-danger{data:{ toggle: :tooltip, placement: :top, title: "This client has not signed the #{_('HAN release')} and their name cannot be released to the #{_('HSA')}, #{_('SSP')}, or the #{_('HSP')}. All correspondence regarding this client should reference match ID #{match.id}. If the client signs the #{_('HAN release')} at any time during the match the change will be reflected in CAS and their information will become available."}}
      - release_status = if match.client.housing_release_status.downcase == 'none on file' || match.client.housing_release_status.blank? then 'No release on file' else _(match.client.housing_release_status) end
      = release_status
.detail-box--value
  - link = if user_signed_in? then access_context.match_client_details_path(match) else new_user_session_path end
  - name = match.client_name_for_contact(access_context.current_contact, hidden: false)
  - if @show_client_info
    -# If we have permission to see the client details, present a modal
    = link_to link, data: {loads_in_pjax_modal: true} do
      = name
      - unless user_signed_in?
        -# If we would have permission to see the client details if we logged in, show age
        %br
        Age: 
        = match.client.age || 'unknown'
  - elsif ! user_signed_in?
    -# Provide the option to login to see more
    = link_to link do
      = name
  - else
    -# Even though we are logged in, we don't have permission
    = name
  - if can_view_all_clients? && warehouse_id = match.client.remote_id
    %br
    = link_to Config.get(:warehouse_url) + "/clients/#{warehouse_id}", target: '_blank' do
      Warehouse ID:
      = warehouse_id