%h3.detail-box--label
  Client
  - unless match.client&.has_full_housing_release?(match&.match_route)
    .limited-cas-release
      %span.icon-info.text-color-danger{data:{ toggle: :tooltip, placement: :top, title: "This client has not signed the #{Translation.translate('HAN release')} and their name cannot be released to the #{Translation.translate('HSA')}, #{Translation.translate('SSP')}, or the #{Translation.translate('HSP')}. All correspondence regarding this client should reference match ID #{match.id}. If the client signs the #{Translation.translate('HAN release')} at any time during the match the change will be reflected in CAS and their information will become available."}}
      - release_status = if  match.client.housing_release_status.blank? || match.client.housing_release_status.downcase == 'none on file' then 'No release on file' else Translation.translate(match.client.housing_release_status) end
      = release_status
.detail-box--value
  - link = if user_signed_in? then access_context.match_client_details_path(match) else new_user_session_path end
  - name = match.client_name_for_contact(access_context.current_contact, hidden: false)
  - if ! user_signed_in?
    -# Provide the option to login to see more
    = link_to link do
      = name
  - else
    = link_to link, data: {loads_in_pjax_modal: true} do
      = name
      - unless user_signed_in?
        -# If we would have permission to see the client details if we logged in, show age
        %br
        Age:
        = match.client&.age || 'unknown'
  .mt-1
    - remote_id = match.client&.remote_id
    - if user_signed_in? && remote_id # show if you are logged in
      - if @client.remote_client_visible_to?(current_user)
        %br
        = link_to "Remote ID: #{remote_id}", @client&.data_source_path, target: '_blank'
    - if can_view_all_clients? # only show to admins
      %br
      = link_to @client, target: '_blank' do
        CAS Client ID:
        = @client&.id
