- client = match.client
- file_ids = @files.values.map(&:last).map(&:presence).compact.map(&:id).join(',')
- url = Config.get(:warehouse_url) + "/clients/#{client.remote_id}/files"
- if file_ids.present?
  - url += "?file_ids=#{file_ids}"
%h3.detail-box--label= link_to 'Files', url, target: '_blank'
.detail-box--value
  - if @show_files
    -# Show the most recent version of any matching files
    - @files.each do |tag, (required, source, file)|
      .file
        - if required
          *
        - if file.present?
          - if file.effective_date.present? || file.expiration_date.present?
            - dates = []
            - dates << "effective: #{date_format(file.effective_date)}" if file.effective_date.present?
            - dates << "expires: #{date_format(file.expiration_date)}" if file.expiration_date.present?
            - dates.compact!
            - dates_part = " (#{dates.join(', ')})" if dates.size.positive?
          - label = "#{tag}#{dates_part}"
          = link_to label, file.file_url, target: '_blank'
        - else
          = tag
        %em.detail-box--requirement-source= "(#{source})"
  - else
    None
