%section
  %h1 Housing Opportunity: Match Progress

  .d-flex.align-items-end.mb-4
    %div
      %h2 Match Recommendation Details
      %h6
        Match ID:
        %span.font-weight-bold= match.id
    .d-flex.ml-auto
      .c-tag{class: "c-tag--#{match.overall_status[:type]}"}
        .c-tag__title Status
        .c-tag__wrapper
          .c-tag__icon.c-tag__icon--sm
            .icon-checkmark
          .c-tag__content
            %span= match.overall_status[:name]
  - if match.opportunity.multiple_active_matches?
    .alert.alert-warning
      - translation = _('Multiple Match Disclaimer')
      %p
        This match is part of a Multiple Match for a single vacancy.
        - if translation == 'Multiple Match Disclaimer'
          Please be advised that other clients have also been matched to this vacancy and the first client to successfully complete the CAS process with the #{_('HSA')} will be offered the unit.
        - else
          = translation
      - if match.top_priority?
        .badge.badge-info.p-2.mt-4 Top Priority

  - if @decision.is_a?(MatchDecisions::Four::ScheduleCriminalHearingHousingSubsidyAdmin)
    - if 'Remember to check housing availablility' != _('Remember to check housing availablility')
      .alert.alert-warning
        = simple_format(_('Remember to check housing availablility'), {style: 'display: block;'})
  .c-card.c-card--flush
    -# These label/value pairs can all be displayed conditionally if present
    .c-card__content
      .c-detail-group.row
        .col-sm-4.c-detail-group.c-detail-group--stacked.c-detail-group--bordered
          = render 'matches/program_details', match: match
          = render 'matches/services', match: match
          = render 'matches/similar', match: match
        .col-sm-4.c-detail-group.c-detail-group--stacked.c-detail-group--bordered
          = render 'matches/building_details', match: match
          = render 'matches/rules', match: match
        .col-sm-4.c-detail-group.c-detail-group--stacked
          = render 'matches/client_details', match: match
          - if @show_files
            = render 'matches/client_files', match: match
          = render 'matches/client_match_attributes', match: match
          = render 'matches/active_matches', match: match

      = render 'matches/contacts', match: match
