.row
  .col-sm-8
    %h1 Housing Opportunity: Match Progress
  .col-sm-4
    .summary-readout.pull-right
      .summary-readout--tile.summary-readout--tile__green
        .summary-readout--tile-label.summary-readout--tile-label__outside
          Status
        .summary-readout--tile-color-block
          = match.overall_status

%h3.detail-box--header 
  Match Recommendation Details
  %span.pull-right
    Match ID:
    = match.id
.detail-box
  -# These label/value pairs can all be displayed conditionally if present
  .row
    .col-sm-3
      = render 'matches/program_details', match: match
      = render 'matches/services', match: match
    .col-sm-3
      = render 'matches/building_details', match: match
      = render 'matches/rules', match: match
    .col-sm-3
      = render 'matches/client_details', match: match
      - if @show_files
        = render 'matches/client_files', match: match
      = render 'matches/active_matches', match: match
    .col-sm-3
      = render 'matches/contacts', match: match
