- not_specified = '<span class="font-no-data">Not specified</span>'.html_safe
= simple_form_for @match_contacts, url: access_context.match_contacts_path(@match), html: { class: 'current-step-form jDnDStaffContactForm' }, remote: true do |form|
  .o-pre-choose
    %h3.h3.mb-3
      Add / Review Contacts for Match

    - if @match_contacts.errors.present?
      .requirement-warning.mb-4
        %span.icon-warning
        = @match_contacts.errors.join ". "
  .row
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :shelter_agency_contacts, input_name: 'match_contacts[shelter_agency_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: true
    .col-sm-6
      .form-group.email.optional
        .controls
          .form--label-hint-wrapper
            .form--label-hint
              %label.control-label.email.optional Client Email
              - if @match_contacts.match.client.send_emails?
                %p= @match_contacts.match.client.email.presence || not_specified
      .row
        .col-sm-6
          - if @match_contacts.match.client.send_emails?
            %p
              %em Client has requested match emails
          - else
            %p
              %em Client has not requested match emails
        .col-sm-6.text-right
          = link_to client_path(@match_contacts.match.client), class: 'btn btn-sm btn-light' do
            Edit Client
      -# = render 'contact_manager/contact_field', contact_type: :client_contacts, input_name: 'match_contacts[client_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: false

  .row
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :dnd_staff_contacts, input_name: 'match_contacts[dnd_staff_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: true
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :housing_subsidy_admin_contacts, input_name: 'match_contacts[housing_subsidy_admin_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: true

  .row
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :ssp_contacts, input_name: 'match_contacts[ssp_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: false
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :hsp_contacts, input_name: 'match_contacts[hsp_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: false
  .row
    .col-sm-6
      = render 'contact_manager/contact_field', contact_type: :do_contacts, input_name: 'match_contacts[do_contact_ids][]', object: @match_contacts, match_route: @match.match_route, form: form, required: false
