- if MatchRoutes::Base.more_than_one?
  %h3.detail-box--label Match Route
  .detail-box--value
    = @program.match_route&.title
%h3.detail-box--label Funding Source
.detail-box--value
  = if @program.funding_source.present? then @program.funding_source.name else 'None' end
%h3.detail-box--label Program
.detail-box--value
  = link_to_if can_edit_programs?, @program.name, edit_program_sub_program_program_details_path(@program, @sub_program)
  %em
    = link_to_if can_edit_programs?, @sub_program.name, edit_program_sub_program_path(@program, @sub_program)
  - if @program.description.present?
    %h5.mt-4 Program Description
    = simple_format(@program.description)

- if match.present?
  %h3.detail-box--label Service Provider
  .detail-box--value= match.opportunity_details.service_provider_name
  -#%h3.detail-box--label Sub-Contractor
  .detail-box--value
