- status_update = @match.status_updates.incomplete_for_contact(contact_id: access_context.current_contact.id).first
.row
  .col-xs-12
    .match-status-update
      %p 
        = "This match has been stalled since #{@match.current_decision.updated_at.to_date}.  Please provide an update to the status of the match."
      = simple_form_for status_update, as: :match_progress_updates, url: match_progress_update_path(notification_id: params[:notification_id]) do |f|
        = f.input :working_with_client, as: :radio_buttons, collection: {'Client is engaging with services': 'jStillWorking', 'Client is not engaging with services': 'jNoLongerWorking'}, label: 'Has the client above been at your agency recently?',  wrapper_class: 'jSectionToggle', wrapper_html: {data: {target: 'jWorkingWithClient'}}
        .jStillWorking.jNoLongerWorking.jWorkingWithClient
          .row
            .col-sm-4
              = f.input :client_last_seen, as: :date_picker
        .jStillWorking.jWorkingWithClient
          = f.input :response, collection: status_update.still_active_responses, label: 'Status Update', as: :check_boxes
        .jNoLongerWorking.jWorkingWithClient
          = f.input :response, collection: status_update.no_longer_active_responses, label: 'Status Update', as: :check_boxes
        .jStillWorking.jNoLongerWorking.jWorkingWithClient
          = f.input :note, label: 'Additional notes', hint: 'Please do not include specifics about the client (name, etc.) in these notes as they will be visible to everyone involved in the match, even if the client doesn\'t have a full release on file.' , input_html: {rows: 8}
        = f.button :submit, class: 'btn btn-primary', value: 'Submit Status Update'
