- if @notification.present? && @notification.allows_registration? && ! user_signed_in?
  .row
    .col-sm-6.offset-sm-6.text-right
      .notification--create-account
        = link_to 'create an account', new_notification_registration_path(@notification), class: 'btn btn-default'
= render 'matches/details', match: @match

%section
  = render 'matches/current_step_info'
  - if @decision && @decision != @match.current_decision #TODO incorporate contact access rights
    .row
      .col-sm-12
        .current-step
          %h4.current-step--heading.mb-4
            Viewing Step:
            %span.current-step--name
              = @decision.step_name
              = link_to "[show current step]", access_context.match_path(@match)

  - if @match.status_updates.incomplete_for_contact(contact_id: access_context.current_contact.id).exists?
    = render 'matches/status_update'
  - else
    = render @decision if @decision

- history_path = match_history_path(@match)
- if @notification.present?
  - history_path = notification_match_history_path(@notification, @match)

.jDynamicHistory{data: {history_path: history_path }}
  = render 'matches/history', match: @match

- if(params[:redirect] == "true")
  = content_for :page_js do
    :javascript
      (function($) {
        var refresh_count = 0;
        setInterval(function() {
          var $history = $('.jDynamicHistory');
          var url = $history.data('history-path');
          $.get(url, function(data){
            new_event_count = $(data).attr('data-history-events')
            old_event_count = $history.find('.jHistoryCount').attr('data-history-events');
            if (new_event_count != old_event_count) {
              $history.html(data);
            }
            refresh_count++;
            if (refresh_count >= 10){
              clearInterval();
            }
          });
        }, 10000);
      })(jQuery);
