= simple_form_for @unit, as: :unit_for_building, url: program_sub_program_unit_for_building_path, class: :unit_for_building do |f|
  = f.error_notification
  .form-inputs.margin-top-02
    = f.input :available, as: :boolean
    = f.input :name, label: "#{Unit.model_name.human} name"
    = f.input :occupancy, collection: 1..10, include_blank: false
    = f.input :number_of_bedrooms, collection: 1..5
    = f.input :target_population, collection: Unit.target_population_select_array
    = f.input :ground_floor, as: :radio_buttons
    = f.input :wheelchair_accessible, as: :radio_buttons

  .form-actions
    = f.button :submit, value: "Update #{Unit.model_name.human}"

= content_for :page_js do
  :javascript
    $('select').select2({ width: '100%' });
