- title = "Site Configuration"
- content_for :title, title

= render :partial => 'menus/admin_tabs'

%h1= content_for :title

= simple_form_for @config, url: admin_configs_path do |f|
  .row
    .col-sm-6
      = f.input :dnd_interval, label: "Stalled Match #{_('DND')} Notification Length in Days", input_html: {size: 4, style: 'width: 4em;'}
      = f.input :require_cori_release, label: "Require CORI Release"
      = f.input :warehouse_url, label: 'Warehouse URL'
      = f.input :ami, label: 'Individual Average Median Income'
      = f.input :vispdat_prioritization_scheme, collection: ProjectClient.vispdat_prioritization_schemes, label: 'VI-SPDAT Prioritization Scheme', include_blank: false, input_html: { class: :select2 }
    .col-sm-6
      = f.input :non_hmis_fields, collection: NonHmisClient.optional_field_names.invert, label: 'Fields shown for Non-HMIS clients', input_html: { multiple: true, class: 'select2' }
      = f.input :unavailable_for_length, collection: UnavailableAsCandidateFor.available_expiration_lengths, label: 'How long should a client be unavailable on a specific route after a successful match?', input_html: { class: 'select2'}
  .row
    .col-sm-6
      = f.submit value: 'Save Site Configuration', class: 'btn btn-success'

= content_for :page_js do
  :javascript
    $('.select2').select2();