- title = "Site Configuration"
- content_for :title, title

= render :partial => 'menus/admin_tabs'

%h1= content_for :title

= simple_form_for @config, url: admin_configs_path do |f|
  .row
    .col-sm-6
      = f.input :stalled_interval, label: 'Stalled Match Length in Days'
      = f.input :dnd_interval, label: 'Stalled Match DnD Notification Length in Days'
      = f.input :warehouse_url, label: 'Warehouse URL'

      = f.submit value: 'Save Site Configuration', class: 'btn btn-primary' 
    
