- title = "Site Configuration"
- content_for :title, title

= render :partial => 'menus/admin_tabs'

%h1= content_for :title

= simple_form_for @config, url: admin_configs_path do |f|
  .row
    .col-sm-6
      = f.input :dnd_interval, label: "Stalled Match #{_('DND')} Notification Length in Days", input_html: {size: 4, style: 'width: 4em;'}
      = f.input :require_cori_release, label: "Require CORI Release"
      = f.input :warehouse_url, label: 'Warehouse URL'
      = f.input :ami, label: 'Individual Average Median Income'

      = f.submit value: 'Save Site Configuration', class: 'btn btn-success'
