- if unit.active
  = link_to 'Edit', edit_unit_path(unit), class: ['btn', 'btn-sm', 'btn-secondary']
  .ml-2= link_to 'Deactivate', unit_deactivate_path(unit), method: :post, class: ['btn', 'btn-sm', 'btn-secondary']
- else
  .ml-2= link_to 'Restore', restore_unit_path(unit), method: :post, class: ['btn', 'btn-sm', 'btn-secondary']
- if unit.in_use?
  .ml-2{ data: {toggle: :tooltip, title: 'Unit is in use' } }
    %button.btn.btn-sm.btn-outline-secondary{ disabled: true, style: 'pointer-events: none;' } Delete
- else
  .ml-2= link_to 'Delete', unit_path(unit), method: :delete, data: {confirm: "Please confirm that you'd like to delete this unit:  #{unit.name}.\nThis action cannot be undone."}, class: 'btn btn-sm btn-outline-danger'
