= render 'breadcrumbs'
= content_for :modal_title do
  Edit Unit:
  = @unit.name
- if pjax_request?
  .row
    .col-sm-12
      = render 'form'
- else
  .row
    .col-sm-8
      = render 'form'
    - unless @unit.in_use?
      .col-sm-4.text-right
        %p.delete
          = link_to unit_path(@unit), method: :delete, data: {confirm: "Please confirm that you'd like to delete this unit."}, class: 'btn btn-secondary' do
            %span.icon-cross
            = "Delete unit: #{@unit.name}"
