- if @active_filter
  - filter_class = 'filter-sort__filter-active'
- else
  - filter_class = 'filter-sort__filter'
.dropdown.o-filtration.o-filtration--sm{class: filter_class}
  %button.btn.btn-light.dropdown-toggle.mr-4{data: {toggle: 'dropdown'}}
    Filter
    %span.caret
  .o-filtration__container.dropdown-menu.dropdown-menu-right.options
    .o-filtration__header
      %h3.client__filter-header Filter vacancies

    = form_tag(nil, method: "get") do
      -# preserve sort and search for filtering
      - if params[:sort]
        = hidden_field_tag :sort, params[:sort]
      - if params[:direction]
        = hidden_field_tag :direction, params[:direction]
      - if params[:q]
        = hidden_field_tag :q, params[:q]
      - if params[:tab]
        = hidden_field_tag :tab, params[:tab]

      .o-filtration__option
        %select.mb-4{name: :status, style: 'width: 100%;'}
          %option{value: ''} Filter by Status
          - Opportunity.available_stati.each do |t|
            - selected = @match_status == t
            %option{value: t, selected: selected}= t

      .o-filtration__option
        %label.d-block Fewer Than Active Matches?
        %select.mb-4{name: :max_actives, style: 'width: 100%;'}
          %option{value: ''} Unlimited
          - (1..5).each do |t|
            - selected = @max_actives == t
            %option{value: t, selected: selected}= t

      .o-filtration__actions.form__actions
        = link_to opportunities_path(tab: @active_tab), class: 'btn btn-light' do
          %i.icon-cross
          Clear
        %button.btn.btn-primary.ml-auto{type: :submit}
          %i.icon-filter
          Filter

= content_for :page_js do
  :javascript
    $('select').select2();
