.o-page__title
  %h1= t '.title'
  - if can_add_vacancies?
    .o-page__action.o-page__action--stacked
      = link_to new_opportunity_path, class: 'btn btn-primary margin-bottom-02' do
        %span.icon-plus
        Submit a Vacancy
      %a.how-to-popover{'data-toggle': "popover", 'data-placement': "bottom", 'data-content': "<ol><li>Find the #{Building.model_name.human} & edit units available</li><li>Find program and make a voucher available</li></ol>", role: 'button', 'tabindex': 0,'data-html': "true", 'data-trigger': "focus"}
        %span.icon-info
        How to Add a Vacancy

- @prompt = t '.search_prompt'
.row.o-search
  .col-sm-4.o-search__field-wrapper
    = render 'search_form'
  .col-sm-6.sort-filter.o-search__actions
    = render 'filter'

- if @routes.count > 1
  %ul.nav.nav-tabs{role: :tablist}
    - @routes.each do |route|
      - route_name = route.title
      %li.nav-item{role: :presentation}
        %a{href: "##{route_name.parameterize.dasherize}", role: :tab, data: {toggle: :tab}, aria: {controls: "#{route_name}"}, class: 'nav-link'}
          #{route_name}

  .tab-content#reports-tab-content
    = render 'tabs'
- else
  = render 'tabs'
