= content_for :modal_title do
  Add Overall Match Note

= simple_form_for @match_note, url: match_notes_path(@match, match_note_referrer_params), as: :match_note do |form|
  = form.input :note, as: :text, input_html: {rows: 4}, label: false
  - if @match.can_create_administrative_note?(access_context.current_contact)
    = form.input :admin_note, label: 'Administrative note?', hint: 'If checked, this note will only be visible to users who create notes like this one.  Generally this permission is only given to administrators.'
  - if @match.can_create_administrative_note?(access_context.current_contact) || current_user.can_send_notes_via_email?
    = form.input :include_content, as: :boolean, label: 'Include note content in email?', hint: _('Do not include client details in the note if you include the content in the email.')
    = form.input :contact_ids, collection: @match.contacts, label: 'Send note to contacts?', hint: 'If any contacts are selected, this note will be sent directly to them via email.', input_html: {multiple: :multiple, class: [:select2], style: 'width: 100%'}
  = form.submit "Save", class: 'btn btn-success'

= content_for :page_js do
  :javascript
    $('.select2').select2();