= render 'menus/admin_tabs'

.o-page
  .o-page__title
    %h1= t '.title'
    .o-page__action.o-page__action--stacked
      = link_to new_user_invitation_path, class: 'btn btn-primary pull-right margin-bottom-02' do
        %span.icon-plus
        Add a User Account

  - @prompt = t '.search_prompt'

  .row
    .col-sm-6
      = render 'search_form'

%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link.active{href: '#active', role: "presentation", data: {toggle: :tab}}
      Active Accounts
  %li.nav-item
    %a.nav-link{href: '#inactive', role: "presentation", data: {toggle: :tab}}
      Inactive Accounts
.tab-content
  .tab-pane.active#active
    .row.table-utilities
      .col-sm-8
        %p= page_entries_info @users, entry_name: 'user account'
        :ruby
          columns = ['last_name', 'email']
          directions = current_sort_order(Hash[columns.map {|x| [x, nil]}])
          titles = {}
          directions.each {| k,v | titles[k] = @users.human_attribute_name(k)}
          titles['last_name'] = 'Name'
    .row
      .col-sm-12
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                - titles.each do | k, title |
                  %th
                    = manual_sort_link(titles[k], k, directions)
                    %i{:class => ["fa", "fa-sort-#{directions[k]}"] }
                %th Roles
                %th Status
                %th Matches
                %th Actions

            %tbody
              - @users.each do |user|
                %tr
                  %td
                    .user__name
                      = user.name
                    - if user.agency
                      .user__agency
                        %em.text-muted= user.agency.name
                  %td
                    = user.email
                  %td= user.roles_string
                  %td= render 'user_invitation_status', user: user
                  %td.text-center
                    - matches = user.contact.try(:client_opportunity_match_contacts) || []
                    = matches.size
                  %td
                    .w-100
                      = link_to(edit_admin_user_path(id: user), class: 'btn btn-sm btn-secondary mb-2 text-nowrap') do
                        %i.icon-pencil
                        Edit

                    - if can_become_other_users? && user.impersonateable_by?(true_user)
                      .w-100
                        = link_to impersonate_admin_user_path(true_user, become_id: user.id), method: :post, class: 'btn btn-sm btn-secondary mb-2' do
                          %i.icon-enter
                          Become
                    - if user.valid?
                      .w-100
                        = link_to admin_user_path(user),  method: :delete, data: {confirm: "Would you really like to de-activate the account? #{user.name} will no longer be able to login."}, class: 'btn btn-sm btn-danger mb-2 text-nowrap' do
                          %i.icon-cross
                          De-Activate

        %p= paginate @users, params: {sort: directions.compact.keys.first, direction: directions.compact.values.first}
  .tab-pane#inactive
    .table-responsive
      %table.table.table-condensed
        %thead
          %tr
            - titles.each do | k, title |
              %th
                = manual_sort_link(titles[k], k, directions)
                %i{:class => ["fa", "fa-sort-#{directions[k]}"] }
            %th
        %tbody
          - @inactive_users.each do |user|
            %tr
              %td= user.name
              %td
                = user.email
              %td
                = simple_form_for(user, url: reactivate_admin_user_path(user)) do |f|
                  = f.button :button, data: { confirm: 'When re-activating an account, the password will be set to something random and an email will be sent to the address on file with a link to pick a new password.' }, class: 'btn btn-primary' do
                    Re-activate
