Hello #{@contact.full_name},
\
A client move-in date has been noted for a housing match in CAS.
\
The match now requires final approval from DND staff to complete.
\
Please reiew the details of the match and note final approval here:
#{notification_match_decision_url @notification, @match, :confirm_match_success_dnd_staff}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
