Hello #{@contact.full_name},
\
="A #{Translation.translate('Criminal Background Hearing')} has been scheduled for a housing opportunity match in which you are involved."
\
More details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
