Hello #{@contact.full_name},
\
= "The following match has been accepted by the #{Translation.translate('HSA Eleven')}:"
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
