Hello #{@contact.full_name},
\
A Housing Subsidy Administrator has declined a housing match.
\
Details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
