Hello #{@contact.full_name},
\
CAS has a new housing recommendation that requires your review.
\
View details here:
#{notification_match_decision_url @notification, @match, @decision}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
- if @notification.decision.include_note?
  Notes:
  \
  #{@notification.decision.step_note}
\
\
\
= render 'email_footer'
