Hello #{@contact.full_name},
\
The CAS has generated one or more matches on the #{@match_route}.
\
Please acknowledge receipt of this match and review the associated HSA contacts.
\
Please review the details at:
#{opportunity_matches_url(@match.opportunity)}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
