Hello #{@contact.name},
\
A housing opportunity for which you may be eligible has become available.
\
- if @match.shelter_expiration.present?
  = "Please contact your #{_('case worker')} before #{@match.shelter_expiration} for more details."
  \
- else
  = "Please contact your #{_('case worker')} for more details."
  \
= render 'shelter_agency_contacts'
\
\
\
\
(This is an automated email, so please don't reply--replies won't go anywhere.)
