Hello #{@contact.full_name},
\
The CAS has generated one or more matches on the #{@route_name}.
\
Please review the details at:
#{opportunity_matches_url(@match.opportunity)}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
