Hello #{@contact.full_name},
\
= "CAS has notified the #{Translation.translate('Housing Subsidy Administrator')} of a housing recommendation."
\
View details here:
#{notification_match_url @notification, @match}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
