Hello #{@contact.full_name},
\
= "A #{Translation.translate('Housing Subsidy Administrator')} has set the #{Translation.translate('lease start date')}."
\
The #{Translation.translate('lease start date')} is:
= @match.record_client_housed_date_housing_subsidy_administrator_decision.client_move_in_date.try(&:to_date) || 'Not set'
\
Details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
