Hello #{@contact.full_name},
\
CAS match is ready for #{Translation.translate('Move In')}.
View details here:
#{notification_match_url @notification, @match}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
