Hello #{@contact.full_name},
\
CAS match needs #{Translation.translate('Stabilization Service Provider Nine')} Contact.
\
View details here:
#{notification_match_decision_url @notification, @match, @decision}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
