Hello #{@contact.full_name},
\
An action has been taken on your behalf.
\
View details here:
#{notification_match_url @notification, @match}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
