Hello #{@contact.full_name},
\
= "A #{Translation.translate('Housing Subsidy Administrator')} has set the #{Translation.translate('lease start date')}."
\
View details and indicate when the client will move in:
#{notification_match_decision_url @notification, @match, :record_client_housed_date_housing_subsidy_administrator}
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
