Hello #{@contact.full_name},
\
A CAS housing recommendation has been updated.
\
= "The client and #{_('case worker')} have indicated interest in the opportunity and the match now requires review by a #{_('Housing Subsidy Administrator')} to proceed."
\
View details and respond here:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
