Hello #{@contact.full_name},
\
A CAS housing recommendation has been updated.
\
= "#{Translation.translate('DND')} has accepted a #{Translation.translate('Shelter Agency')} decline for the match."
\
View details and respond here:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
\
\
\
= render 'email_footer'
