Hello #{@contact.full_name},
\
The match is pending the review by #{Translation.translate('HSA Thirteen')} - it is now ready for your action.
\
Please review details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
