Hello #{@contact.full_name},
\
The match is has been acknowledged by the #{Translation.translate('Shelter Agency Thirteen')} contacts and is currently in review.
\
Please review details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
