Hello #{@contact.full_name},
\
The match is has been accepted by the #{Translation.translate('Shelter Agency Thirteen')} contacts and is currently pending action by #{Translation.translate('HSA Thirteen')}.
\
#{Translation.translate('HSA Thirteen')} has been notified to schedule a CORI hearing.
\
Please review details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
