Hello #{@contact.full_name},
\
The CAS has generated a new match recommendation.  
\
The match is pending acknowledgement by the #{Translation.translate('Shewlter Agency Thirteen')} contacts.
\
- if @match.shelter_expiration.present?
  = "#{Translation.translate('Shelter Agency Thirteen')} must acknowledge the match by #{@match.shelter_expiration}."
  \
Please review details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
