Hello #{@contact.full_name},
\
The review by #{Translation.translate('HSA Thirteen')} has been completed.
\
Please review details:
#{notification_match_url @notification, @match}
\
= render 'client_details'
\
= render 'location_details'
\
= render 'program_details'
\
\
\
\
= render 'email_footer'
