= form_tag(nil, method: "get") do
  -# Preserve sort and filtering
  - if params[:sort]
    = hidden_field_tag :sort, params[:sort]
  - if params[:direction]
    = hidden_field_tag :direction, params[:direction]
  - if params[:current_tab]
    = hidden_field_tag :current_tab, params[:current_tab]
  - filter_terms.each do | term |
    - if params[term]
      = hidden_field_tag term, params[term]
  .input-group{style: 'margin-bottom: 20px;'}
    %input.form-control{name: 'q', autofocus: true, type: :text, placeholder: @prompt, value: @query || params[:q]}
    %span.input-group-append
      %button.btn.btn-primary{type: :submit} Search
