.well.add-things-boxes.add-things-boxes--services{ data: {service_manager: true, base_object_name: form.object_name} }
  %h3.add-things-boxes--h3
    = heading
    -# text instead of spinner because the spinner freezes during the slow DOM rebuilds
    %small.add-things-boxes--spinner(data-loading-spinner) working&hellip;

  %div{ data: {selected_services: true} }
    %input{type: 'hidden', name: "#{form.object_name}[service_ids][]", value: ""}
    - form.object.services.preload(requirements: :rule).each do |service|
      %div{data: {existing_service: true, service_id: service.id, service_name: service.name, service_requirements_description: service.requirements_description}}
  
  .form-group
    = label_tag "Service Name", "Add a Service"
    = select_tag :available_services, nil, class: 'form-control', data: {service_searcher: true}
    %div{ data: {available_services: true} }
      - form.object.available_services.preload(requirements: :rule).each do |service|
        %div{data: {available_service: true, service_id: service.id, service_name: service.name, service_requirements_description: service.requirements_description}}

= content_for :page_js do
  :javascript
    $('[data-service-manager]').each(function(_i, element) {
      new App.ServiceManager.Controller(element);
    });