= render 'admin/users/breadcrumbs'

.row
  .col-sm-12
    %h1 Add a User Account

  .col-sm-8
    = simple_form_for @user, url: confirm_users_invitations_path do |f|
      = f.error_notification message: "Please correct the following errors: #{@user.errors.full_messages.join('. ')}"

      .form-inputs
        = f.simple_fields_for :contact do |contact_fields|
          = contact_fields.input :first_name, required: true
          = contact_fields.input :last_name, required: true
          = contact_fields.input :phone, as: :tel
          = contact_fields.input :email, as: :email, required: true
        = f.input :agency
        .row
          .col-md-6
            .form--checkbox-groups
              %h3 CAS Roles for Access Permissions
              = f.association :roles, as: :check_boxes, label_method: :role_name, collection: Role.available_roles
          .col-md-6
            %h3 Program Permissions
            = f.input :editable_programs, as: :select, label: 'Editable Programs', collection: Program.order(:name), input_html: {multiple: true, class: :select2}

      .form-actions
        = f.button :submit, class: 'btn btn-primary'

= content_for :page_js do
  :javascript
    $('.select2').select2();