-# Note: remove .container from notification views -- yield is already inside .container and we don't want to nest containers b/c it can result in extra padding
-# If we've got a row, set a col div too
-# generally, using h1 for page titles. Site title is no longer h1

.row
  .col-sm-8
    %h1 Housing Opportunity: Match Progress
  .col-sm-4
    .summary-readout.pull-right
      .summary-readout--tile.summary-readout--tile__green
        .summary-readout--tile-label.summary-readout--tile-label__outside
          Status:
        .summary-readout--tile-color-block
          Pending
      .summary-readout--tile.summary-readout--tile__blue
        .summary-readout--tile-label.summary-readout--tile-label__outside
          Current Step Assigned To:
        .summary-readout--tile-color-block
          Shelter Agency
.detail-box
  -# These label/value pairs can all be displayed conditionally if present
  .row
    .col-sm-9
      .row
        .col-sm-3
          %h3.detail-box--label Program
          .detail-box--value
          %h3.detail-box--label Sub-Grantee
          .detail-box--value
          %h3.detail-box--label Sub-Contractor
          .detail-box--value
        .col-sm-3
          %h3.detail-box--label= "#{Building.model_name.human}"
          .detail-box--value
            Walnut Park
            %br
            237 Walnut Ave,
            %br
            Boston, MA 02119
        .col-sm-2
          %h3.detail-box--label Unit
          .detail-box--value 243-B
        .col-sm-4
          %h3.detail-box--label Client
          .detail-box--value
            =link_to 'Ronnie Romero', '#'
      .row
        .col-sm-5
          %h3.detail-box--label Services
          .detail-box--value
            Addiction Support Services
            %br
            Mental Health Services
        .col-sm-7
          %h3.detail-box--label Rules
          .detail-box--value
            Must be mental health services eligible
    .col-sm-3
      %h3.detail-box--label Shelter Agency Contact
      .detail-box--value
        Leroy Bass
        %br
        Pine Street Inn
        %br
        =link_to 'leroybass@pinestreetinn.org', 'mailto:leroybass@pinestreetinn.org'
        %br
        617.555.1212
      %h3.detail-box--label
        = "#{_('Housing Subsidy Administrator')}"
      .detail-box--value
        Bertha Carter
        %br
        =link_to 'carter@domain.org ', 'mailto:carter@domain.org '
        %br
        617.333.1212
      .detail-box--link
        =link_to match_contacts_modal_style_guide_path, data: {loads_in_pjax_modal: true} do
          %span.icon-pencil
          Edit Contacts
.row
  .col-sm-12
    .action-row.pull-right
      = link_to "#", class: 'btn btn-primary', data: {loads_in_pjax_modal: true} do
        %span.icon-plus
        Add Note to Match
.row
  .col-sm-12
    .current-step
      %h3.current-step--heading
        Current Step:
        %span.current-step--name Shelter Agency Initial Review
      %h5.current-step--assignemnt--label
        Assigned To:
        %span.current-step--assignment--value Shelter Agency
      %p.current-step--introduction
        Placeholder for friendly text about this page and next steps.



-# if @decision.editable?
%form.simple_form.current-step-form
  .row
    .col-sm-12
      .button-row
        = link_to "#", class: 'btn btn-primary has-requirement', data: {loads_in_pjax_modal: true} do
          %span.icon-plus
          Review Contacts for Match
        .requirement-warning
          %span.icon-warning
          Required for match acceptance
    .col-sm-8
      .row.form-inputs
        .col-sm-6
          .form-group.select.optional.notification_response_action
            %label.select.optional.control-label{for: 'notification_response_action'}
              Please select one
            %select.optional.form-control
              %option{value: ''}
              %option{value: 'accepted'}Accept
              %option{value: 'declined'}Decline
        .col-sm-12
          .form-group
            %label.control-label{for: 'exampleInputEmail1'}
              Email
            %p.help-block Use your own email here
            %input{type: 'email', class: 'form-control', id: 'exampleInputEmail1', placeholder: 'Enter email'}
          .form-group.has-error
            %label.control-label{for: 'note'}
              Note
            %p.error-block Please add a note explaining the decision
            %textarea{class: 'form-control', rows: 4, name: 'note'}
          .form-group
            %label.control-label Project, Tenant, or Sponsor-Based?
            .radio
              %label
                %input{type: 'radio', name: 'optionsRadios', id: 'optionsRadio1', value: 'option1', checked: 'checked'}
                Project-Based
            .row
              .col-sm-6.col-sm-offset-1
                .form-group
                  %label.control-label{for: 'building-name'}= "#{Building.model_name.human}"
                  %input{type: 'text', class: 'form-control', name: 'building-name', id: 'building-name'}
            .radio
              %label
                %input{type: 'radio', name: 'optionsRadios', id: 'optionsRadio2', value: 'option2'}
                Tenant-Based
            .radio
              %label
                %input{type: 'radio', name: 'optionsRadios', id: 'optionsRadio3', value: 'option3'}
                Sponsor-Based
          .form-group
            %label.control-label Reasons
            .checkbox
              %label
                %input{type: 'checkbox', name: 'optionsRadios', id: 'optionsCheckbox1', value: 'option1', checked: 'checked'}
                This reason
            .checkbox
              %label
                %input{type: 'checkbox', name: 'optionsRadios', id: 'optionsCheckbox2', value: 'option2'}
                That reason
          .form-group
            %label.control-label{for: 'note-2'}
              Another Note
            %textarea{class: 'form-control', name: 'note-2', rows: 4}
          .form-group
            .checkbox
              %label
                %input{type: 'checkbox', name: 'optionsRadios', id: 'optionsCheckbox4', value: 'option1', checked: 'checked'}
                We are no longer able to contact this client
            .form-group
              .row
                .col-sm-5.col-sm-offset-1
                  %label.control-label{for: 'date-last-saw-client'}When did you last see this client?
                  .input-group
                    %input{type: 'text', name: 'date-last-saw-client', id: 'date-last-saw-client', class: 'form-control'}
                    %span.input-group-append.icon-calendar


      .form-actions
        %p Forms that have two possible actions have a btn-primary (blue) and a btn-secondary (gray).
        =link_to 'Decline Match', '#', {class: 'btn btn-danger'}
        =link_to 'Accept Match', '#', {class: 'btn btn-success margin-left-01'}
      .form-actions
        %p Cancel buttons and toggle switches (e.g. must/can't toggle on rules) use btn-default (white).
        %input{type: 'submit', name: 'commit', value: 'Respond', class: 'btn btn-default'}

.row
  -# If we've got a .row, we want a .col-x-y, too, so everything aligns vertically
  .col-sm-12
    %h3.history History
    .table-responsive
      %table.table.table-condensed.table-striped
        %tbody
          %tr
            %td.history--date 3/28/2016
            %td.history--event-name Housing Subsidy Administrator noted criminal background hearing date: 4/8/2016
            %td.history--contact-name Bertha Carter
          %tr
            %td.history--date 3/25/2016
            %td.history--event-name
              Shelter Agency accepted match recommendation
              .history--event-note
                %strong Note:
                Mr. Romero indicates he is very interested in this opportunity.
            %td.history--contact-name Leroy Bass
          %tr
            %td.history--date 3/24/2016
            %td.history--event-name Match recommendation acknowledged by Shelter Agency
            %td.history--contact-name Leroy Bass
          %tr
            %td.history--date 3/24/2016
            %td.history--event-name
              Match Notification Sent to HSA
              %br
              Match Notification Sent to Shelter Agency
              %br
              Match Notification Sent to Client
            %td.history--contact-name
              Bertha Carter
              %br
              Leroy Bass
              %br
              Ronnie Romero
          %tr
            %td.history--date 3/24/2016
            %td.history--event-name
              DND Accepted Match Recommendation
              .history--event-note
                %strong Note:
                There will be no housing search worker involved in this match.
                .history--event-note--actions
                  -# These are available only if it's your own note
                  =link_to '#' do
                    %span.icon-pencil
                    Edit Note
                  =link_to '#' do
                    %span.icon-cross
                    Delete Note
            %td.history--contact-name Laila Bernstein
          %tr
            %td.history--date 3/23/2016
            %td.history--event-name System Match Recommendation
            %td.history--contact-name
              =link_to 'View other matches for this opportunity','#'
