.container.py-4
  %h1 Style Guide
  %ul
    %li= link_to 'Conact Modal', match_contacts_modal_style_guides_path
    %li= link_to 'DND Match Review', dnd_match_review_style_guides_path
    %li= link_to 'Forms', form_style_guides_path
    %li= link_to 'Icon Font', icon_font_style_guides_path
    %li= link_to 'Summary', summary_style_guides_path
