%h2 Information for the Assessor- Pathways Assessment Can Be Conducted With 2 Groups
%ol
  %li
    %strong Those who are currently residing in a Boston emergency shelter, transitional housing program or unsheltered in Boston and have not self-resolved
    %ul
      %li	"Currently residing" means the participant was unsheltered in Boston or stayed in a Boston shelter, transitional housing program the night before you are conducting the assessment.
    %li
      %strong Boston residents who are fleeing or attempting to flee a domestic violence (DV) situation
    %ul
      %li	DV may include situations where participants are fleeing or attempting to flee their housing or the place they are staying because of domestic violence, dating violence, sexual assault, stalking, or other dangerous or life-threatening conditions related to violence that have taken place in the home or have made them afraid to return, including: trading sex for housing; trafficking; physical abuse; violence (or perceived threat of violence). The participant must have no safe, alternative housing or support to maintain or obtain permanent housing.

%h4 People with a Pending Housing Offer: Bypass Pathways
%p
  If you are working with a client who has a voucher and/or other affordable housing offer, and they need housing search, move in costs or help settling in with supportive services, you can skip this assessment and refer directly to your own internal rapid re-housing programs for assistance or one of these rapid re-housing programs if you do not have one or yours is full.
%h4 Youth RRH (18-24 year old):
%p
  All youth specific RRH opportunities are being matched through CAS via the Pathways assessment.
%h4 Veteran RRH:
%p Veteran specific RRH is available via direct referral through Supportive Services for Veteran Families (SSVF) with no Pathways Assessment required at the following agencies:
- markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true)
= markdown.render(_('Veteran Agency Contact Details')).html_safe

%h2 Key Introduction Points to Share with the Participant
%p
  %strong Purpose of the Pathways Assessment:
  We'll explore ways you could move out of homelessness quickly, using existing supports, since there is not enough affordable housing for everyone who needs it and the waits can be years long. Pathways will also explore if we have small funds to help you leave homelessness quickly, sign you up for rapid re-housing (RRH) and affordable housing units that are set aside for people experiencing homelessness in Boston.

%p
  %strong Programs may or may not be accepting referrals right now:
  Openings depend on if programs are currently full or taking referrals, which changes all the time - this is why we don't know exact timeframes. Even if they are full and you are interested, it's worth signing up.

%p
  %strong Right to Refuse Responses:
  You may refuse to respond to questions on this assessment. You may stop this assessment at any time and pick it back up at a later meeting. Your responses will not harm any other services you receive from our agency. The questions are only designed to help explore housing options you may want to pursue.

%p
  %strong Filing a Non-Discrimination Complaint:
  If at any time you would like information on filing a complaint because you believe you are being discriminated against, let me know and I can give you information on how to pursue this. (Note to assessor:
  = succeed(')') do
    = link_to 'Full Guidance on Changed Eligibility & Referrals to Boston CoC Housing Options', 'https://bostoncoc.mailchimpsites.com/', target: :_blank

%h2 Housing Options Tool
%h3 Talking Points: Review of Housing Options

%ul
  %li As you may know, there are not enough affordable housing openings for everyone experiencing homelessness in Boston.

  %li
    If you have anywhere else to stay to keep yourself safe, we have some quick financial assistance to help you get there. Options might be:
    %ul
      %li Staying with friends
      %li Staying with family
      %li Transportation to relocate
      %li Other ideas you may have


%h3 Here are some ways to brainstorm potential options:
%ul
  %li Do you have any past living situations that were positive, that you could return to?
  %li Do you have any supportive people in your life that could help you leave shelter?
  %li What help would you need to return to a positive living situation?
%p
  %strong Be Creative- Funds to Help People Leave Shelter Now:
  The barrier buster fund is small, one-time, and flexible. Examples may be helping a host (friend or family with rent/food/utilities) or helping to pay for travel to relocate. Explore safety considerations with the participant, knowing they make the decision. A few key notes about eligible uses:
  %ol
    %li The destination will have to document the person can stay at least 90 days;
    %li Hotel stays are no longer an eligible use and
    %li If participants want to move to a sober home, continue to offer rapid re-housing to facilitate the placement if a lease will be offered; if the sober home will not offer a lease, the participant must show how they will pay the full sober home fee in their barrier buster application.
%h3 Is participant interested in help to leave shelter to move in with natural supports or an immediate option?

%h4 YES:
%p
  If the client has an option, complete the
  = link_to 'Barrier Buster application', 'https://bostoncoc.mailchimpsites.com/', target: :_blank
  or refer to Saint Francis House to complete.
.row.mb-4
  .col-sm-5.border.p-2
    %h2.text-center Complete Barrier Buster Application
    %ul
      %li Complete BB App
      %li Send to HomeStart for $
  .col-sm-2
    %h2.text-center.pt-8 OR
  .col-sm-5.border.p-2
    %h2.text-center Refer to Saint Francis House to Complete Barrier Buster Application
    %ul
      %li Email: barrierbuster@stfrancishouse.org
      %li Phone: 617-654-1257
      %li Provide St. Francis House with Participant's contact info (name, email, phone, dob) and specify what immediate housing options they have identified.

%h4 No:
%p
  If the client does not have an option, offer Rapid Re-Housing:
  If anything changes and you do find you have an option to stay somewhere else, let someone here know so we can help you get some quick financial assistance to get there.

%h2 Rapid Re-Housing Opt In
%p
  %strong Key Points:
  Another option may be to rent a room or unit on your own with a lease in your name. We have programs that can help you find a place, help you settle in, and help you with a financial boost while you get settled. If you are interested I can refer you and they will contact you as they have openings. You can still apply for affordable, subsidized housing while you are in a rapid re-housing program. We want to give you information on RRH since the wait times for this program may be shorter.

%h3 What is Rapid Re-housing? What Benefits Are Offered?
%p
  The goal of RRH programs is to help you end your current homelessness as
  %u quickly as possible
  and become stably housed.
%ol
  %li
    %strong Housing search services
    to find a home in the private market- this means there will be a lease between you and the landlord, and you will be responsible for the full rent on the lease. RRH staff are here to support you with searching for and locating a home as soon as you enroll. Staff also work with you to make sure you have all of the documents you need to apply for apartments and help you complete any applications. They are on your side and will advocate to landlords and realtors to find you a home. Also, RRH staff across the City work together and share landlord leads with each other to help our clients.
  %li
    %strong Choice-Driven:
    Since the greater Boston housing market is expensive, it is suggested that you consider all housing opportunities, including single room occupancies and other less expensive options outside of Boston. However, programs do not require you to live in a certain unit, and you have choice. You may also relocate if you choose to. Also, RRH staff can help you continue to apply for subsidized housing while you are in your new home so you do not have to remain homeless while you wait on housing lists.
  %li
    %strong Landlord Mediation:
    RRH staff are here to support you in communication with your new landlord. If there are questions about the lease, conflicts with other tenants, or with the landlord, staff are there to help mediate and resolve these things so you do not have to return to homelessness. If needed, RRH programs can also help you relocate as well.
  %li
    %strong Case Management To Settle In Your Home:
    These services are designed to build ties in your community, achieve goals you have to stay housed, connect to resources, make sure you know your neighborhood, grocery store and transportation options, increase your income as much as possible, and assist with budgeting so you can stay in your home and not have to experience homelessness again. Even if you cannot fully pay your rent at the start, a case manager will work with you to identify ways you could increase your income.
  %li
    %strong Services to Increase Your Income, Resources and Benefits.
    RRH programs can connect you with income maximization services to help you to find jobs and/or to apply for eligible benefits. We will develop, with your input, a plan to support your financial needs, goals, and action steps for pursuing a variety of income sources. The plan will address potential barriers to increasing income, identify timelines and prioritize action steps. Your income plan will be flexible and updated as needed. Keep in mind that finding a job takes time and due to the time-limited nature of your housing subsidies, you should connect quickly with resources that are available for your income maximization.
  %li
    %strong Financial assistance
    to help you move into your new home. RRH programs can help pay your rent as you settle in use case management and services to eventually take over the rent. To begin with, your rent portion will be at least 30% of your income (sometimes more depending on what funding we have available and your personal budget). RRH can also provide upfront moving costs like security deposit, assistance with rent, and a moving truck.
  %li
    %strong Youth + Veteran-specific RRH Programs:
    These programs provide the same benefits as above, but are administered by agencies with a history and expertise of serving young people or Veterans and may have even more flexible benefits. These agencies also often have other services they can offer, such as drop-in space, connection to peers and other population-specific programming (education, employment, behavioral health services, etc.).
.row.mb-4
  .col-sm-5.border.p-2
    %h2.text-center Why do people take RRH?
    %p We do not advise you to stay here to keep your homeless status for housing resources because:
    %ul
      %li RRH is one of the fastest ways to end your homelessness right now. A housing search takes 0-3 months right now for the programs.
      %li In Boston, very few people returned to shelter or sleeping outside after RRH- just 5% returned in 2020.
      %li It often takes years to get to the top of waitlists. The City was able to house only 20% of people in Boston shelters each year.
      %li Getting to the top of a waitlist does not guarantee an offer of housing due to background checks
      %li Most affordable housing programs in Massachusetts actually do not require homelessness to move up on the list; you can keep applying and waiting without remaining homeless.
      %li Boston Housing Authority and some other permanent supportive housing options do allow RRH participants to maintain homeless status as long as they are enrolled in the RRH program
  .col-sm-2
  .col-sm-5.border.p-2
    %h2.text-center How do people make RRH work?
    %p Rapid Re-housing (RRH)
    %ul
      %li Income maximization services & balancing the budget
      %li Negotiating Rent Down
      %li Roomates
      %li Single Rooms
      %li Leaving Boston
      %li Continue applying for subsidized housing
      %li Move in with family or friends

%h4 Referral to RRH:
%p If your agency has RRH, you may refer directly to that program. If you do not, below is the contact information to refer directly to available RRH programs.
%h4 Youth RRH (18-24 year old):
%p
  All youth specific RRH opportunities are being matched through CAS via the Pathways assessment.
%h4 Veteran RRH:
%p Veteran specific RRH is available via direct referral through Supportive Services for Veteran Families (SSVF) with no Pathways Assessment required at the following agencies:
%p= _('Veteran Agency Contact Details')

%h2 Key Points to Share with the Participant Regarding Confidentiality
%p
  %strong Right to Refuse Responses AND/OR Share Information:
  We ask you to share information to connect you to housing programs you may be interested in. You may refuse to respond to certain questions, or refuse to have information stored and shared in the database.  Declining to share information will not jeopardize any opportunities for you, but it may be harder to get in contact with you when an opening does come up.

%p
  %strong Commitment to Confidentiality:
  If you decline to share your information, please know we will uphold your confidentiality to keep your information secure, private and safe.

.c-question{data: {number: '1A'}}
  .c-question__wrapper
    .c-question__number 1A
    .c-question__input
      .form-group
        .controls
          .form--label-hint-wrapper
            .form--lable-hint
              %label.control-label Permission to Share Your Information with Partner Agencies
              %p To sign you up for housing programs you may be interested in, we would like to ask for your permission to share information with participating agencies who manage these programs so they may contact you when there is an opening. All of the participating agencies have agreed to keep all data confidential and secure. Is this okay with you?
              %p
                %strong Yes
              %p
                Check to see if a Housing Assistance Network (HAN) Release of Information is uploaded into the participant's warehouse record.
                %ul
                  %li If one IS uploaded, proceed to the next section → Section 2, Language & Safety
                  %li
                    If one IS NOT uploaded, complete a COVID HAN release and upload to the Warehouse. COVID HAN release can be found
                    %a{ href: 'https://bostoncoc.mailchimpsites.com/', target: :_blank } here.
                    If it is not uploaded, the referral may get stuck due to lack of permission. If your agency is not on the warehouse, check the box in the box on the Non-HMIS Client edit screen indicating that you have a HAN in your file.
              %p
                %strong No
                %ul
                  %li If the participant chooses not to share information with other provider agencies, staff may sign a Limited CAS release so that the Coordinated Entry lead agency can sign them up for programs, but not share information with any other providers. Check to see if a Limited CAS release is uploaded into the participant's warehouse record.
                  %li If one IS uploaded, proceed to the next section.
                  %li
                    If one IS NOT uploaded, staff may complete a Limited CAS Release and upload to the Warehouse. Limited CAS release can be found
                    %a{ href: 'https://bostoncoc.mailchimpsites.com/', target: :_blank } here.
                    If it is not uploaded, the referral may get stuck due to lack of permission. If your agency is not on the warehouse, check the box in the box on the Non-HMIS Client edit screen indicating that you have a Limited CAS release in your file.

%h1.mt-8 Assessment Questions
%hr
