- disabled ||= !disabled.nil?
- action ||= 'Create'
- url ||= disabled ? nil : send("#{client_type}_client_path", @non_hmis_client.id)
.c-card.c-card--flush
  .c-card__content.p-0
    .o-pre-table-actions.o-pre-table-actions--light
      %h2.o-pre-table-actions__heading.mt-2 Client Information
      .d-flex.o-pre-table-actions__group.ml-auto
        - if disabled
          - if @non_hmis_client.warehouse_client_id
            .mr-auto
              = link_to "#{Config.get(:warehouse_url)}/clients/#{@non_hmis_client.warehouse_client_id}", class: 'btn btn-sm btn-secondary mr-2' do
                Warehouse Client
                %span.icon-arrow-right2.ml-2
          - if @non_hmis_client.editable_by?(current_user)
            = link_to send("edit_#{client_type}_client_path", @non_hmis_client.id), class: 'btn btn-sm btn-secondary ml-auto' do
              Edit Client
            = yield :form_actions
        - else
          - path = @non_hmis_client.persisted? ? send("#{client_type}_client_path", @non_hmis_client.id) : send("#{client_type}_clients_path")
          = link_to path, class: 'btn btn-sm btn-secondary ml-auto' do
            Cancel
    .p-4
      = simple_form_for @non_hmis_client, url: url do |f|
        = f.error_notification
        .row
          .col
            .form-inputs
              = render "#{client_type}_clients/pathways_client", form: f, disabled: disabled
            - unless disabled
              .form-actions.mt-4
                - cancel_path = @non_hmis_client.persisted? ? send("#{client_type}_client_path", @non_hmis_client.id) : send("#{client_type}_clients_path")
                = link_to 'Cancel', cancel_path, class: 'btn btn-secondary'
                = f.button :submit, "#{action.capitalize} Client", class: 'btn btn-primary ml-auto'
