- sub_title ||= ''
= render 'breadcrumbs'

- if params[:assessment_id]
  .d-flex.align-items-baseline
    %h1.mr-2= "Assessment for #{title}"
    - if sub_title.present?
      %h2= sub_title
  = render 'assessments/form',
    client_type: client_type
- else
  .d-flex.align-items-baseline
    %h1.mr-2= title
    - if sub_title.present?
      %h2= sub_title
  = render 'client_form',
    client_type: client_type,
    disabled: true

  = render 'assessments/index',
    client_type: client_type

= render 'init_select2'
