#vsm-container.outboard
  .vsm-group.vsm-group-toggle
    .vsm-item-link{class: 'jToggleVsm'}
      .vsm-item-link--description.vsm-item-link--description__collapse.show-open
        Collapse Menu
      .menu-icon.menu-link
        .show-closed
          %span.menu-link--word Menu
          %span.icon-menu
        .show-open
          %span.icon-arrow-right2
  -# Match related items
  .vsm-group.vsm-group__group-a
    - if can_reissue_notifications? && ReissueRequest.all.any?
      = link_to reissue_notifications_path, :class => 'vsm-item-link' do
        .vsm-item-link--description
          Expired Notifications
    = link_to active_matches_path, :class => 'vsm-item-link' do
      .vsm-item-link--description
        Matches in Progress
  -# Inventory and HMIS related items
  - if can_view_opportunities? || can_view_contacts? || can_view_programs? || can_view_buildings?
    .vsm-group.vsm-group__group-b
      - if can_view_all_clients?
        = link_to clients_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            All Clients
      - if can_view_contacts?
        = link_to contacts_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Contacts
      - if can_view_opportunities?
        = link_to opportunities_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Vacancies
      - if can_view_programs?
        = link_to programs_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Programs
      - if can_view_funding_sources?
        = link_to funding_sources_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Funding Sources
      - if can_view_subgrantees?
        = link_to subgrantees_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Sub-Grantees
      - if can_view_buildings?
        = link_to buildings_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            = "#{Building.model_name.human.pluralize}"
      - if can_view_rule_list?
        = link_to rules_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Rules List
      - if can_view_available_services?
        = link_to services_path, :class => 'vsm-item-link' do
          .vsm-item-link--description
            Services List
  -# Account related items
  .vsm-group.vsm-group__account
    - if can_edit_users?
      = link_to admin_users_path, :class => 'vsm-item-link' do
        .vsm-item-link--description
          User Accounts
    = link_to edit_account_path, :class => 'vsm-item-link' do
      .vsm-item-link--description
        Edit Account
    -# = current_user.name
    = link_to destroy_user_session_path, :method => :delete, :class => 'vsm-item-link' do
      .vsm-item-link--description
        Sign Out
      .menu-icon
        %i{class: "icon-exit"}


