.mb-4= page_entries_info @locations
%p= paginate(@locations)
.table-responsive
  .c-card.c.card__flush.mb-4
    .c-card__content.p-0
      %table.table.table-striped
        %thead
          %tr
            %th Login Time
            %th IP Address
            %th Location
        %tbody
          - @locations.each do |location|
            %tr
              %td= location.created_at
              %td= location.ip
              %td= location.location_description
%p= paginate(@locations)
