= simple_form_for @subprogram, url: bulk_update_program_sub_program_vouchers_path, html: {class: 'bulk-vouchers'}  do |f|
  = f.error_notification
  = f.simple_fields_for :vouchers, vouchers do |v|
    = render 'voucher', f: f, v: v
  .d-flex
    - if vouchers.count > 0
      = f.button :submit, value: 'Update Vouchers', class: 'btn btn-primary ml-auto'
= content_for :page_js do
  :javascript
    $('select').select2();
    $('.bulk-vouchers').on('change', '.has-dependent', function() {
      var parent = this.id
      var id = this.value
      var $child = $('.' + parent);
      var value_method = $child.data('value-method');
      var label_method = $child.data('label-method');
      var url = $child.data('url').replace(':id', id);
      $.get(url, function(data) {
        // remove previous options
        $child.children('option:gt(0)').remove();
        $.each(data, function(k,v){
          $child.append($('<option />').attr('value', v[value_method]).text(v[label_method]));
        });

        if($child.data('default-parent-id') == id) {
          $child.append('<option value="' + $child.data('default-value') + '">' + $child.data('default-label') + '</option>')
          // restore the original value if still available
          $child.val($child.data('default-value'));
        }
      }, 'json');
    });
    $('.sub_program_vouchers_unit').on('change', '.jUnit', function (e) {
      if($(this).val() == '') {
        $(this).closest('.row').find('.jAddUnit').show();
        $(this).closest('.row').find('.jEditUnit').hide();
      }
      else {
        $(this).closest('.row').find('.jAddUnit').hide();
        var jUnit = $(this).closest('.row').find('.jEditUnit');
        var href = jUnit.attr('href').replace(/\/unit_for_building\/\d+\/edit/, '/unit_for_building/' + $(this).val() + '/edit');
        jUnit.attr('href', href)
        jUnit.show();
      }
    });
    $('.jUnit').trigger('change');
