= render 'sub_programs/breadcrumbs'
.row
  .col-xs-6
    %h1 
      Program: 
      = @subprogram.program.name
  .col-xs-6
    = render 'sub_programs/status_blocks'
.row
  .col-xs-8
    %h2
      Sub-Program:
      = @subprogram.name
  .col-sm-4
    = render 'bulk_add_form'
    .text-right
      = "#{@subprogram.vouchers.count} of #{@subprogram.voucher_count} total vouchers created"
    .text-right
      = render 'match_list_base/show_confidential_names'
.row.margin-top-02
  .col-sm-12
    = render 'sub_programs/tab_navigation', active: 'vouchers'
.row
  .col-sm-12
    - if @subprogram.vouchers.count > 0
      = render 'form'
    - else
      %p.alert.alert-info.margin-top-03
        This program has no vouchers defined yet. Use the Add Vouchers box above to add some.
