= render 'sub_programs/breadcrumbs'
.o-page
  .o-page__title
    %h1
      Program:
      = @subprogram.program.name
    .o-page__action
      = render 'sub_programs/status_blocks'

  = render 'sub_programs/tab_navigation', active: 'vouchers'

  .o-page__title.align-items-start.mt-6
    %h2
      Sub-Program:
      = @subprogram.name
    .o-page__action
      .d-flex.flex-column.mr-8
        = render 'bulk_add_form'
        .text-right
          %p.mb-0.mt-1
            - if @subprogram.voucher_count.present? && @subprogram.voucher_count > 0
              = "#{@subprogram.vouchers.count} of #{@subprogram.voucher_count} total vouchers created"
            - else
              = "#{@subprogram.vouchers.count} vouchers created"
      = render 'match_list_base/show_confidential_names'
  .row
    .col-sm-12
      - if @subprogram.vouchers.count > 0
        = render 'form'
      - else
        %p.alert.alert-info.mt-3
          This program has no vouchers defined yet. Use the Add Vouchers box above to add some.
